<!DOCTYPE html>
<html lang="nl">
<head>
  <meta charset="UTF-8">
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">

  <title>Independer - Verzekeringen vergelijken en afsluiten</title>

  <!-- Google Tag Manager -->
  <!-- End Google Tag Manager -->

  <link href="content/css/css-independer.css" rel="stylesheet"/>
  <link href="content/css/css-independer2.css" rel="stylesheet"/>
  <!-- <link href="content/css/style.css" rel="stylesheet"/> -->

  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
</head>
<body>
  <header id="pageHeader" class="page-header page-header-minimal" itemtype="http://schema.org/WPHeader">
    <div id="pageHeaderTop" class="page-header--top">
      <div class="container">
        <div class="pull-right">
          <div class="page-header--phonenumber">
            <a class="link-phone" href="tel:+31356265544"><span class="if-generic--phone"></span> <strong><span class="text">035 - 626 55 44</span></strong></a>
            <span class="hidden-xs">vandaag tot 21:00 uur</span>
          </div>
          <!-- <a class="page-header--search"><span class="if-generic--search"></span></a> -->
          <a class="page-header--help" onclick="$('div#ngdialog1').toggleClass('ngdialog-open')"><span class="if-generic--help-baloon"></span><span class="text">Help mij</span></a>
        </div>

        <a class="page-header--logo-link" href="/" itemprop="name"><div class="page-header--logo-container"><img class="page-header--logo" src="content/images/independer_logo-on-purple-rgb.svg" alt="Independer"></div></a>
      </div>
    </div>
  </header>

  <div class="view-container" itemscope="" itemtype="http://schema.org/FinancialService">
    <span itemprop="name" content="Independer"></span>
    <div ui-view="" class="ng-scope"><div class="container">
  </div>

  <div class="flow-page-header ng-isolate-scope" back-url="/zorgverzekering/intro.aspx">
    <div class="container">
      <a class="flow-page-header--terug-link link-arrow-back" href="https://www.independer.nl">terug naar Independer.nl</a><!-- end ngIf: flowPageHeaderController.showBackLink() -->
      <h1 ng-transclude=""><span class="ng-binding ng-scope">
        Krijg meer inzicht in jouw pensioen
      </span><span class="hidden-xs ng-scope ng-isolate-scope" personen="::(wensenController.getPersonenForIcons())"><img class="persoon-icon" src="content/images/icons/man.gif"><!-- end ngIf: ::indPersonenIconsController.aanvrager --><!-- ngIf: ::indPersonenIconsController.partner --><!-- ngRepeat: kind in ::indPersonenIconsController.kinderen track by $index --></span>
    </h1>
  </div>
</div>

<div class="container">

  <form name="invoerForm" ind-form="" ng-submit="wensenController.submit(invoerForm.$valid)" novalidate="" class="ng-pristine ng-valid">

    <div class="expert-box expert-box__sharon">
      <h3 class="hidden-xs">Vind je het moeilijk om de juiste keuzes te maken?</h3>
      <h3 class="visible-xs">Lastig kiezen?</h3>
      <q class="q-large">Wij helpen je graag. Jij beantwoordt een paar vragen over zorgkosten. Wij adviseren hoe je je ervoor kunt verzekeren.</q>

      <div class="l-margin-20-bottom" ue="helpmijkiezen-algemeen">
        <a class="visible-xs-inline link-arrow" ng-click="wensenController.openHelpMijKiezenPanel()">help mij kiezen</a>
        <a class="hidden-xs btn btn-wire btn__arrow" ng-click="wensenController.openHelpMijKiezenPanel()">help mij kiezen</a>
      </div>
      <div class="expert-box--bottom"><div class="expert-box--expert-title">Viola, <br class="visible-xs">Independer sinds 2004</div></div>
    </div>
    <div class="quickquote-header ng-scope" ng-class="{'show-premie-difference': wensenController.premieState === 'showPremieDifference'}" ind-sticky-header="" sticky-until="#wensenHeaderTillHere" style="">

      <div class="container">
        <div class="pull-left-sm">
          <div class="white-content ng-binding">Jouw wensen</div>
        </div>

        <div class="quickquote-header-premie-container" ng-switch="wensenController.premieState">
          <!-- ngSwitchWhen: isLoading -->
          <!-- ngSwitchWhen: showPremieDifference -->
          <!-- ngSwitchWhen: showVanafPremie --><div class="quickquote-header-premie-item ng-binding ng-scope" ng-switch-when="showVanafPremie" style="">
          70 verzekeringen vanaf &nbsp;86,00
        </div><!-- end ngSwitchWhen: -->
      </div>
    </div>


  </div>
  <div class="l-margin-md-bottom"></div>

  <div class="row" ue="eigenrisico">
    <div class="col-xs-12 col-md-3">
      <h3 class="l-margin-none-top">Eigen risico</h3>
    </div>
    <div class="col-xs-12 col-md-9 col-lg-7">
      <p class="ng-binding">Bij de basisverzekering heb je een verplicht eigen risico. Dat betekent dat je de eerste 385 euro aan zorgkosten zelf betaalt. Het eigen risico geldt niet voor je huisarts, wel voor bijvoorbeeld het ziekenhuis en medicijnen. Verhoog je je eigen risico? Dan gaat je premie omlaag.</p>
      <select ind-input="" animate-blink="" class="eigen-risico-select-box l-margin-right-10 ng-pristine ng-untouched ng-valid input-control not-required-empty ng-not-empty" ng-model="wensenController.wensen.eigenRisico" ng-options="item.value as item.label for item in ::wensenController.eigenRisicoList" ng-change="wensenController.updateQuickQuote()"><option label="€&nbsp;385,- standaard" value="number:385" selected="selected">€&nbsp;385,- standaard</option><option label="€&nbsp;485,-" value="number:485">€&nbsp;485,-</option><option label="€&nbsp;585,-" value="number:585">€&nbsp;585,-</option><option label="€&nbsp;685,-" value="number:685">€&nbsp;685,-</option><option label="€&nbsp;785,-" value="number:785">€&nbsp;785,-</option><option label="€&nbsp;885,-" value="number:885">€&nbsp;885,-</option></select>
      <a class="btn visible-lg-inline-block" ng-click="wensenController.openHelpMijKiezenPanel(999999)" ue="helpmijkiezen">help mij kiezen</a>
      <div class="hidden-lg l-margin-xxs-top">
        <a class="link-arrow" ng-click="wensenController.openHelpMijKiezenPanel(999999)" ue="helpmijkiezen">help mij kiezen</a>
      </div>
    </div>
  </div>

  <div class="divider l-margin-md"></div>

  <div class="row l-margin-xs-bottom">
    <div class="col-xs-12 col-md-3">
      <h3 class="l-margin-none-top">Vergoedingen</h3>
    </div>
    <div class="col-xs-12 col-md-9 col-lg-7">
      <p>De basisverzekering vergoedt de belangrijkste zorgkosten, zoals het ziekenhuis en medicijnen. Voor andere kosten zoals bijvoorbeeld de tandarts of fysiotherapeut kun je een aanvullende verzekering afsluiten.</p>
    </div>
  </div>
  <!-- ngIf: ::wensenController.rubrieken --><div ue="rubrieken" on-change="wensenController.updateQuickQuote()" ng-if="::wensenController.rubrieken" rubrieken="wensenController.rubrieken" wensen-id="wensenController.wensen.id" dekkingen="wensenController.wensen.dekkingen" class="ng-scope ng-isolate-scope">
  <div ind-sticky-header="" class="visible-lg ng-scope" sticky-until="#lastRubriekRow" sticky-for-media="lg" style="">
    <div class="row rubrieken-header l-padding-xs">
      <div class="col-xs-12 col-md-offset-3 col-md-3">Dit dekt de basisverzekering:</div>
      <div class="col-xs-12 col-md-5">Kies eventueel een aanvullende verzekering:</div>
    </div>
  </div>
  <div class="rubrieken-container">
    <!-- ngRepeat: rubriek in ::rubriekenController.rubrieken track by rubriek.id --><div class="rubriek-container ng-scope" ng-class=" rubriek.advies" ng-repeat="rubriek in ::rubriekenController.rubrieken track by rubriek.id" animate-blink="">
    <div class="rubrieken-row" ue="{&quot;rubriek&quot;: &quot;(Fysio)therapieën&quot;}">
      <!-- ngIf: $last -->
      <div class="rubrieken-row--title" ng-click="rubriekenController.rubriekClick(rubriek)">
        <span class="icon if-zorg--rubriek-fysiotherapie" ng-class="'if-zorg--rubriek-' + rubriek.icon"></span>
        <div class="text ng-binding" ng-bind="::rubriek.title">(Fysio)therapieën</div>
        <div class="rubrieken-row--title-aanvulling ng-binding">
          Geen aanvullende verzekering
        </div>
      </div>
      <div class="rubrieken-row--basis">
        <!-- ngIf: rubriek.explenationText != null && rubriek.explenationText.length > 0 --><div class="icon-question-mark ng-scope" ng-if="rubriek.explenationText != null &amp;&amp; rubriek.explenationText.length > 0" ind-tooltip="Therapieën zoals fysiotherapie, manuele therapie en oefentherapie worden meestal niet vergoed vanuit de basisverzekering. Alleen wanneer je chronisch ziek bent betaalt je verzekering het vanaf de 21e behandeling. Wil je wel dat de verzekeraar de kosten voor bijvoorbeeld de fysiotherapeut betaalt? Dan kan je hier een aanvullende verzekering voor afsluiten." tooltip-title="(Fysio)therapieën"></div><!-- end ngIf: rubriek.explenationText != null && rubriek.explenationText.length > 0 -->
        <div class="text ng-binding"><strong class="hidden-lg">Basisverzekering:</strong> Alleen als je chronisch ziek bent, vanaf de 21e behandeling.</div>
        <div class="rubrieken-row--action-container hidden-lg">
          <select ind-input="" ng-model="rubriekenController.dekkingen[rubriek.id]" ng-options="item.value as item.label for item in ::rubriek.dekkingen" ng-change="rubriekenController.rubriekDekkigChange(rubriek)" class="ng-pristine ng-untouched ng-valid input-control ng-empty"><option label="Geen aanvullende verzekering" value="undefined:undefined" selected="selected">Geen aanvullende verzekering</option><option label="6 behandelingen per jaar" value="number:317">6 behandelingen per jaar</option><option label="9 behandelingen per jaar" value="number:32">9 behandelingen per jaar</option><option label="18 behandelingen per jaar" value="number:34">18 behandelingen per jaar</option><option label="27 behandelingen per jaar" value="number:326">27 behandelingen per jaar</option><option label="Vergoeding van alle behandelingen" value="number:203">Vergoeding van alle behandelingen</option></select>
          <a ue="helpmijkiezen" ng-click="rubriekenController.onHelpMijKiezenClick(rubriek)"><span class="if-generic--link-arrow"></span>help mij kiezen</a>
        </div>
        <!-- ngIf: rubriek.advies -->
      </div>
      <div class="rubrieken-row--aanvulling">
        <select ind-input="" ng-model="rubriekenController.dekkingen[rubriek.id]" ng-options="item.value as item.label for item in ::rubriek.dekkingen" ng-change="rubriekenController.rubriekDekkigChange(rubriek)" class="ng-pristine ng-untouched ng-valid input-control ng-empty"><option label="Geen aanvullende verzekering" value="undefined:undefined" selected="selected">Geen aanvullende verzekering</option><option label="6 behandelingen per jaar" value="number:317">6 behandelingen per jaar</option><option label="9 behandelingen per jaar" value="number:32">9 behandelingen per jaar</option><option label="18 behandelingen per jaar" value="number:34">18 behandelingen per jaar</option><option label="27 behandelingen per jaar" value="number:326">27 behandelingen per jaar</option><option label="Vergoeding van alle behandelingen" value="number:203">Vergoeding van alle behandelingen</option></select>

      </div>
      <div class="rubrieken-row--help-kiezen">
        <a class="btn hidden-xs" ng-class="rubriek.advies ? 'btn-white' : ''" ue="helpmijkiezen" ng-click="rubriekenController.onHelpMijKiezenClick(rubriek)">help mij kiezen</a>
      </div>
    </div>
    <!-- ngIf: rubriek.advies -->
  </div><!-- end ngRepeat: rubriek in ::rubriekenController.rubrieken track by rubriek.id --><div class="rubriek-container ng-scope" ng-class=" rubriek.advies" ng-repeat="rubriek in ::rubriekenController.rubrieken track by rubriek.id" animate-blink="">
    <div class="rubrieken-row" ue="{&quot;rubriek&quot;: &quot;Tandarts vanaf 18 jaar&quot;}">
      <!-- ngIf: $last -->
      <div class="rubrieken-row--title" ng-click="rubriekenController.rubriekClick(rubriek)">
        <span class="icon if-zorg--rubriek-tandarts" ng-class="'if-zorg--rubriek-' + rubriek.icon"></span>
        <div class="text ng-binding" ng-bind="::rubriek.title">Tandarts vanaf 18 jaar</div>
        <div class="rubrieken-row--title-aanvulling ng-binding">
          Geen aanvullende verzekering
        </div>
      </div>
      <div class="rubrieken-row--basis">
        <!-- ngIf: rubriek.explenationText != null && rubriek.explenationText.length > 0 --><div class="icon-question-mark ng-scope" ng-if="rubriek.explenationText != null &amp;&amp; rubriek.explenationText.length > 0" ind-tooltip="De tandartskosten voor volwassene vanaf 18 jaar vallen niet onder de basisverzekering. Wil je dat deze kosten wel betaald worden? Dan kun je een aanvullende verzekering voor tandartskosten afsluiten." tooltip-title="Tandarts vanaf 18 jaar"></div><!-- end ngIf: rubriek.explenationText != null && rubriek.explenationText.length > 0 -->
        <div class="text ng-binding"><strong class="hidden-lg">Basisverzekering:</strong> Geen vergoeding</div>
        <div class="rubrieken-row--action-container hidden-lg">
          <select ind-input="" ng-model="rubriekenController.dekkingen[rubriek.id]" ng-options="item.value as item.label for item in ::rubriek.dekkingen" ng-change="rubriekenController.rubriekDekkigChange(rubriek)" class="ng-pristine ng-untouched ng-valid input-control ng-empty"><option label="Geen aanvullende verzekering" value="undefined:undefined" selected="selected">Geen aanvullende verzekering</option><option label="75% vergoeding tot € 250,- per jaar" value="number:82">75% vergoeding tot € 250,- per jaar</option><option label="100% vergoeding tot € 250,- per jaar" value="number:85">100% vergoeding tot € 250,- per jaar</option><option label="75% vergoeding tot € 500,- per jaar" value="number:83">75% vergoeding tot € 500,- per jaar</option><option label="100% vergoeding tot € 500,- per jaar" value="number:86">100% vergoeding tot € 500,- per jaar</option><option label="75% vergoeding tot € 750,- per jaar" value="number:84">75% vergoeding tot € 750,- per jaar</option><option label="100% vergoeding tot € 750,- per jaar" value="number:87">100% vergoeding tot € 750,- per jaar</option><option label="75% vergoeding tot € 1.000.- per jaar" value="number:538">75% vergoeding tot € 1.000.- per jaar</option><option label="100% vergoeding tot € 1.000,- per jaar" value="number:88">100% vergoeding tot € 1.000,- per jaar</option></select>
          <a ue="helpmijkiezen" ng-click="rubriekenController.onHelpMijKiezenClick(rubriek)"><span class="if-generic--link-arrow"></span>help mij kiezen</a>
        </div>
        <!-- ngIf: rubriek.advies -->
      </div>
      <div class="rubrieken-row--aanvulling">
        <select ind-input="" ng-model="rubriekenController.dekkingen[rubriek.id]" ng-options="item.value as item.label for item in ::rubriek.dekkingen" ng-change="rubriekenController.rubriekDekkigChange(rubriek)" class="ng-pristine ng-untouched ng-valid input-control ng-empty"><option label="Geen aanvullende verzekering" value="undefined:undefined" selected="selected">Geen aanvullende verzekering</option><option label="75% vergoeding tot € 250,- per jaar" value="number:82">75% vergoeding tot € 250,- per jaar</option><option label="100% vergoeding tot € 250,- per jaar" value="number:85">100% vergoeding tot € 250,- per jaar</option><option label="75% vergoeding tot € 500,- per jaar" value="number:83">75% vergoeding tot € 500,- per jaar</option><option label="100% vergoeding tot € 500,- per jaar" value="number:86">100% vergoeding tot € 500,- per jaar</option><option label="75% vergoeding tot € 750,- per jaar" value="number:84">75% vergoeding tot € 750,- per jaar</option><option label="100% vergoeding tot € 750,- per jaar" value="number:87">100% vergoeding tot € 750,- per jaar</option><option label="75% vergoeding tot € 1.000.- per jaar" value="number:538">75% vergoeding tot € 1.000.- per jaar</option><option label="100% vergoeding tot € 1.000,- per jaar" value="number:88">100% vergoeding tot € 1.000,- per jaar</option></select>

      </div>
      <div class="rubrieken-row--help-kiezen">
        <a class="btn hidden-xs" ng-class="rubriek.advies ? 'btn-white' : ''" ue="helpmijkiezen" ng-click="rubriekenController.onHelpMijKiezenClick(rubriek)">help mij kiezen</a>
      </div>
    </div>
    <!-- ngIf: rubriek.advies -->
  </div><!-- end ngRepeat: rubriek in ::rubriekenController.rubrieken track by rubriek.id --><div class="rubriek-container ng-scope" ng-class=" rubriek.advies" ng-repeat="rubriek in ::rubriekenController.rubrieken track by rubriek.id" animate-blink="">
    <div class="rubrieken-row" ue="{&quot;rubriek&quot;: &quot;Medische hulp buitenland&quot;}">
      <!-- ngIf: $last -->
      <div class="rubrieken-row--title" ng-click="rubriekenController.rubriekClick(rubriek)">
        <span class="icon if-zorg--rubriek-medischehulpbuitenland" ng-class="'if-zorg--rubriek-' + rubriek.icon"></span>
        <div class="text ng-binding" ng-bind="::rubriek.title">Medische hulp buitenland</div>
        <div class="rubrieken-row--title-aanvulling ng-binding">
          Geen aanvullende verzekering
        </div>
      </div>
      <div class="rubrieken-row--basis">
        <!-- ngIf: rubriek.explenationText != null && rubriek.explenationText.length > 0 --><div class="icon-question-mark ng-scope" ng-if="rubriek.explenationText != null &amp;&amp; rubriek.explenationText.length > 0" ind-tooltip="De basisverzekering betaalt spoedeisende hulp in het buitenland. Je krijgt maximaal het in Nederland geldende tarief vergoed. Wil je beter verzekerd zijn? Dan kan dit zowel met een aanvullende verzekering als met een reisverzekering. Let dus goed op dat je je niet dubbel verzekert." tooltip-title="Medische hulp buitenland"></div><!-- end ngIf: rubriek.explenationText != null && rubriek.explenationText.length > 0 -->
        <div class="text ng-binding"><strong class="hidden-lg">Basisverzekering:</strong> Spoedeisende hulp overal ter wereld, max. in Nederland geldende tarief</div>
        <div class="rubrieken-row--action-container hidden-lg">
          <select ind-input="" ng-model="rubriekenController.dekkingen[rubriek.id]" ng-options="item.value as item.label for item in ::rubriek.dekkingen" ng-change="rubriekenController.rubriekDekkigChange(rubriek)" class="ng-pristine ng-untouched ng-valid input-control ng-empty"><option label="Geen aanvullende verzekering" value="undefined:undefined" selected="selected">Geen aanvullende verzekering</option><option label="Volledige Europadekking voor spoedeisende hulp " value="number:102">Volledige Europadekking voor spoedeisende hulp </option><option label="Volledige Werelddekking voor spoedeisende hulp" value="number:103">Volledige Werelddekking voor spoedeisende hulp</option></select>
          <a ue="helpmijkiezen" ng-click="rubriekenController.onHelpMijKiezenClick(rubriek)"><span class="if-generic--link-arrow"></span>help mij kiezen</a>
        </div>
        <!-- ngIf: rubriek.advies -->
      </div>
      <div class="rubrieken-row--aanvulling">
        <select ind-input="" ng-model="rubriekenController.dekkingen[rubriek.id]" ng-options="item.value as item.label for item in ::rubriek.dekkingen" ng-change="rubriekenController.rubriekDekkigChange(rubriek)" class="ng-pristine ng-untouched ng-valid input-control ng-empty"><option label="Geen aanvullende verzekering" value="undefined:undefined" selected="selected">Geen aanvullende verzekering</option><option label="Volledige Europadekking voor spoedeisende hulp " value="number:102">Volledige Europadekking voor spoedeisende hulp </option><option label="Volledige Werelddekking voor spoedeisende hulp" value="number:103">Volledige Werelddekking voor spoedeisende hulp</option></select>

      </div>
      <div class="rubrieken-row--help-kiezen">
        <a class="btn hidden-xs" ng-class="rubriek.advies ? 'btn-white' : ''" ue="helpmijkiezen" ng-click="rubriekenController.onHelpMijKiezenClick(rubriek)">help mij kiezen</a>
      </div>
    </div>
    <!-- ngIf: rubriek.advies -->
  </div><!-- end ngRepeat: rubriek in ::rubriekenController.rubrieken track by rubriek.id --><div class="rubriek-container ng-scope" ng-class=" rubriek.advies" ng-repeat="rubriek in ::rubriekenController.rubrieken track by rubriek.id" animate-blink="">
    <div class="rubrieken-row" ue="{&quot;rubriek&quot;: &quot;Alternatieve geneeswijzen&quot;}">
      <!-- ngIf: $last -->
      <div class="rubrieken-row--title" ng-click="rubriekenController.rubriekClick(rubriek)">
        <span class="icon if-zorg--rubriek-alternatievegeneeswijzen" ng-class="'if-zorg--rubriek-' + rubriek.icon"></span>
        <div class="text ng-binding" ng-bind="::rubriek.title">Alternatieve geneeswijzen</div>
        <div class="rubrieken-row--title-aanvulling ng-binding">
          Geen aanvullende verzekering
        </div>
      </div>
      <div class="rubrieken-row--basis">
        <!-- ngIf: rubriek.explenationText != null && rubriek.explenationText.length > 0 --><div class="icon-question-mark ng-scope" ng-if="rubriek.explenationText != null &amp;&amp; rubriek.explenationText.length > 0" ind-tooltip="De basisverzekering betaalt geen alternatieve geneeswijzen (incl. medicijnen) zoals homeopathie, acupunctuur en chiropractie. Wil je dat dat wel betaald wordt? Sluit dan een aanvullende verzekering af." tooltip-title="Alternatieve geneeswijzen"></div><!-- end ngIf: rubriek.explenationText != null && rubriek.explenationText.length > 0 -->
        <div class="text ng-binding"><strong class="hidden-lg">Basisverzekering:</strong> Geen vergoeding</div>
        <div class="rubrieken-row--action-container hidden-lg">
          <select ind-input="" ng-model="rubriekenController.dekkingen[rubriek.id]" ng-options="item.value as item.label for item in ::rubriek.dekkingen" ng-change="rubriekenController.rubriekDekkigChange(rubriek)" class="ng-pristine ng-untouched ng-valid input-control ng-empty"><option label="Geen aanvullende verzekering" value="undefined:undefined" selected="selected">Geen aanvullende verzekering</option><option label="€ 250,- vergoeding per  jaar" value="number:122">€ 250,- vergoeding per  jaar</option><option label="€ 500,- vergoeding per  jaar" value="number:123">€ 500,- vergoeding per  jaar</option><option label="€ 750,- vergoeding per  jaar" value="number:124">€ 750,- vergoeding per  jaar</option><option label="€ 1.000,- vergoeding per  jaar" value="number:125">€ 1.000,- vergoeding per  jaar</option></select>
          <a ue="helpmijkiezen" ng-click="rubriekenController.onHelpMijKiezenClick(rubriek)"><span class="if-generic--link-arrow"></span>help mij kiezen</a>
        </div>
        <!-- ngIf: rubriek.advies -->
      </div>
      <div class="rubrieken-row--aanvulling">
        <select ind-input="" ng-model="rubriekenController.dekkingen[rubriek.id]" ng-options="item.value as item.label for item in ::rubriek.dekkingen" ng-change="rubriekenController.rubriekDekkigChange(rubriek)" class="ng-pristine ng-untouched ng-valid input-control ng-empty"><option label="Geen aanvullende verzekering" value="undefined:undefined" selected="selected">Geen aanvullende verzekering</option><option label="€ 250,- vergoeding per  jaar" value="number:122">€ 250,- vergoeding per  jaar</option><option label="€ 500,- vergoeding per  jaar" value="number:123">€ 500,- vergoeding per  jaar</option><option label="€ 750,- vergoeding per  jaar" value="number:124">€ 750,- vergoeding per  jaar</option><option label="€ 1.000,- vergoeding per  jaar" value="number:125">€ 1.000,- vergoeding per  jaar</option></select>

      </div>
      <div class="rubrieken-row--help-kiezen">
        <a class="btn hidden-xs" ng-class="rubriek.advies ? 'btn-white' : ''" ue="helpmijkiezen" ng-click="rubriekenController.onHelpMijKiezenClick(rubriek)">help mij kiezen</a>
      </div>
    </div>
    <!-- ngIf: rubriek.advies -->
  </div><!-- end ngRepeat: rubriek in ::rubriekenController.rubrieken track by rubriek.id --><div class="rubriek-container ng-scope" ng-class=" rubriek.advies" ng-repeat="rubriek in ::rubriekenController.rubrieken track by rubriek.id" animate-blink="">
    <div class="rubrieken-row" ue="{&quot;rubriek&quot;: &quot;Brillen en lenzen&quot;}">
      <!-- ngIf: $last --><div ng-if="$last" id="lastRubriekRow" class="ng-scope"></div><!-- end ngIf: $last -->
      <div class="rubrieken-row--title" ng-click="rubriekenController.rubriekClick(rubriek)">
        <span class="icon if-zorg--rubriek-brillenenlenzen" ng-class="'if-zorg--rubriek-' + rubriek.icon"></span>
        <div class="text ng-binding" ng-bind="::rubriek.title">Brillen en lenzen</div>
        <div class="rubrieken-row--title-aanvulling ng-binding">
          Geen aanvullende verzekering
        </div>
      </div>
      <div class="rubrieken-row--basis">
        <!-- ngIf: rubriek.explenationText != null && rubriek.explenationText.length > 0 --><div class="icon-question-mark ng-scope" ng-if="rubriek.explenationText != null &amp;&amp; rubriek.explenationText.length > 0" ind-tooltip="De basisverzekering vergoedt geen brillen of lenzen. Het loont niet om je alleen hiervoor aanvullend te verzekeren want de vergoedingen zijn beperkt. Gemiddeld krijg je 100 euro per twee jaar. Wil je wel een ruime vergoeding? Dan betaal je al snel een paar tientjes per maand. Je bent dan meteen voor veel andere zorg verzekerd, die je misschien helemaal niet nodig hebt.  " tooltip-title="Brillen en lenzen"></div><!-- end ngIf: rubriek.explenationText != null && rubriek.explenationText.length > 0 -->
        <div class="text ng-binding"><strong class="hidden-lg">Basisverzekering:</strong> Geen vergoeding</div>
        <div class="rubrieken-row--action-container hidden-lg">
          <select ind-input="" ng-model="rubriekenController.dekkingen[rubriek.id]" ng-options="item.value as item.label for item in ::rubriek.dekkingen" ng-change="rubriekenController.rubriekDekkigChange(rubriek)" class="ng-pristine ng-untouched ng-valid input-control ng-empty"><option label="Geen aanvullende verzekering" value="undefined:undefined" selected="selected">Geen aanvullende verzekering</option><option label="€ 50,-  vergoeding voor bril of lenzen" value="number:132">€ 50,-  vergoeding voor bril of lenzen</option><option label="€ 100.- vergoeding voor bril of lenzen" value="number:133">€ 100.- vergoeding voor bril of lenzen</option><option label="€ 150.- vergoeding voor bril of lenzen" value="number:311">€ 150.- vergoeding voor bril of lenzen</option><option label="€ 200,- vergoeding voor bril of lenzen" value="number:134">€ 200,- vergoeding voor bril of lenzen</option></select>
          <a ue="helpmijkiezen" ng-click="rubriekenController.onHelpMijKiezenClick(rubriek)"><span class="if-generic--link-arrow"></span>help mij kiezen</a>
        </div>
        <!-- ngIf: rubriek.advies -->
      </div>
      <div class="rubrieken-row--aanvulling">
        <select ind-input="" ng-model="rubriekenController.dekkingen[rubriek.id]" ng-options="item.value as item.label for item in ::rubriek.dekkingen" ng-change="rubriekenController.rubriekDekkigChange(rubriek)" class="ng-pristine ng-untouched ng-valid input-control ng-empty"><option label="Geen aanvullende verzekering" value="undefined:undefined" selected="selected">Geen aanvullende verzekering</option><option label="€ 50,-  vergoeding voor bril of lenzen" value="number:132">€ 50,-  vergoeding voor bril of lenzen</option><option label="€ 100.- vergoeding voor bril of lenzen" value="number:133">€ 100.- vergoeding voor bril of lenzen</option><option label="€ 150.- vergoeding voor bril of lenzen" value="number:311">€ 150.- vergoeding voor bril of lenzen</option><option label="€ 200,- vergoeding voor bril of lenzen" value="number:134">€ 200,- vergoeding voor bril of lenzen</option></select>

      </div>
      <div class="rubrieken-row--help-kiezen">
        <a class="btn hidden-xs" ng-class="rubriek.advies ? 'btn-white' : ''" ue="helpmijkiezen" ng-click="rubriekenController.onHelpMijKiezenClick(rubriek)">help mij kiezen</a>
      </div>
    </div>
    <!-- ngIf: rubriek.advies -->
  </div><!-- end ngRepeat: rubriek in ::rubriekenController.rubrieken track by rubriek.id -->
</div>
</div><!-- end ngIf: ::wensenController.rubrieken -->
<!-- ngIf: ::wensenController.tandOngevallenverzekering --><div ng-if="::wensenController.tandOngevallenverzekering" class="rubrieken-container ng-scope">
<div class="rubriek-container tod-invoer--rubriek-container">
  <div class="tod-invoer--rubriek--row">
    <div class="tod-invoer--rubriek--icon">
      <span class="icon-tandongevallenverzekering"></span>
      <strong class="tod-invoer--rubriek--header hidden-xs hidden-lg">Wist je dat:</strong>
    </div>
    <div class="tod-invoer--rubriek--block-left">
      <div class="tod-invoer--rubriek--block-content">
        <strong class="tod-invoer--rubriek--header visible-xs visible-lg">Wist je dat:</strong>
        <span>tandartskosten na een ongeval (bijv. met de fiets of bij het sporten) bijna nooit door je zorgverzekering worden vergoed? Twee nieuwe voortanden kosten al gauw 2.100 euro.</span><br>
      </div>
    </div>
    <div class="tod-invoer--rubriek--block-right">
      <div class="tod-invoer--rubriek--block-content">
        <strong class="tod-invoer--rubriek--header">Gratis Tandongevallen-verzekering</strong>
        <span>
          Sluit je zorgverzekering bij Independer af, dan krijg je er van ons gratis een Tandongevallen-verzekering bij.
        </span><br>
        <a class="white-content" ng-click="wensenController.openTandOngevallenverzekeringPanel()"><span class="if-generic--link-arrow"></span> Lees meer</a>
      </div>
    </div>
  </div>
</div>
</div><!-- end ngIf: ::wensenController.tandOngevallenverzekering -->
<!-- ngIf: ::wensenController.specifiekeVergoedingen --><div class="specifieke-vergoedingen-box ng-scope" ng-class="{'has-specifieke-wensen': specifiekeVergoedingenController.specifiekeWensen.length > 0}" ng-if="::wensenController.specifiekeVergoedingen" parent-state="wensen" specifieke-vergoedingen="::wensenController.specifiekeVergoedingen" wensen="wensenController.wensen" on-change="wensenController.updateQuickQuote()" ue="specifieke vergoedingen">


<!-- ngRepeat: wens in specifiekeVergoedingenController.specifiekeWensen track by wens.id -->

<div class="specifieke-vergoedingen-box--add">
  <div class="specifieke-vergoedingen-box--add--header">Nog andere zorgkosten die je vergoed wil krijgen?</div>
  <div class="specifieke-vergoedingen-box--add--btn">
    <a class="btn" ng-click="specifiekeVergoedingenController.openSpecifiekeVergoedingenPanel()">voeg een specifieke vergoeding toe</a>
  </div>
</div>
</div><!-- end ngIf: ::wensenController.specifiekeVergoedingen -->

<div id="wensenHeaderTillHere" class="divider l-margin-sm-top l-margin-xs-bottom"></div>
<!-- ngIf: wensenController.aantalVerzekeringen === 0 -->
<div class="buttons-container text-right">
  <div class="button-container-text">
    <!-- ngIf: wensenController.isQqLoading -->
    <!-- ngIf: !wensenController.isQqLoading --><span class="quickquote-premie-box ng-scope" ng-if="!wensenController.isQqLoading">
    <div class="quickquote-premie-box--header ng-binding">70 verzekeringen vanaf &nbsp;86,00</div>
    <!-- ngIf: wensenController.multiplePersons && (wensenController.aantalVerzekeringen > 0 || wensenController.inputModel.gezin.hasDezelfdeDekkingswensen()) -->
  </span><!-- end ngIf: !wensenController.isQqLoading -->
</div>
<button type="submit" class="btn btn-cta btn-fluid-xs ng-binding">toon de beste verzekeringen</button>
<div class="l-margin-sm">&nbsp;</div>
</div>
</form>
</div>
</div>





</div>

  <footer class="page-footer" itemtype="http://schema.org/WPFooter">
    <div class="container">
      <div class="page-footer--information" itemtype="http://schema.org/PostalAddress">
        <span itemprop="name">Independer.nl N.V. h.o.d.n. Independer</span>
        <span itemprop="streetAddress">Snelliuslaan 10</span>
        <span><span itemprop="postalCode">1222 TE</span> <span itemprop="addressLocality">Hilversum</span></span>
        <span>KvKnr. 34117387</span><span>WFT-verg.nr 12012777</span>
        <span>BTW nr. NL8085.81.612.B.01</span>
        <span class="ng-binding">Independer 1999 - 2016</span>
      </div>
      <div class="page-footer--information">
        <span itemprop="name"><a href="/thema/common/dienstverlening.aspx" target="_blank" itemprop="url">Dienstverlening</a></span>
        <span itemprop="name"><a href="/cookie-toestemming.aspx" target="_blank" itemprop="url">Cookiebeleid</a></span>
        <span itemprop="name"><a href="/algemeen/info/privacystatement.aspx" target="_blank" itemprop="url">Privacy</a></span>
        <span itemprop="name"><a href="/thema/common/dienstverlening.aspx#disclaimer" target="_blank" itemprop="url">Disclaimer</a></span>
        <span itemprop="name"><a href="/algemeen/info/responsible-disclosure.aspx" target="_blank" itemprop="url">Responsible Disclosure</a></span>
      </div>
      <div class="text-center l-margin-sm-top l-margin-md-bottom">
        <button class="btn btn-servicecode">
          <span class="icon-eye-white"></span>&nbsp;&nbsp;laat expert meekijken</span>
        </button>
      </div>
    </div>

  </footer>
  <script src="content/js/jquery-3.1.0.min.js"></script>
  <script src="content/js/custom-file-input.js"></script>
  <script type="text/javascript">
  function toggleDiv(divId) {
    $("#"+divId).toggle(100);
  }
  </script>
</body>
</html>
