@charset "UTF-8";
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table
}

.clearfix:after {
    clear: both
}

@font-face {
    font-family: "generic";
    src: url("../fonts/generic/generic.eot");
    src: url("../fonts/generic/generic.eot?#iefix") format("eot"), url("../fonts/generic/generic.woff") format("woff"), url("../fonts/generic/generic.ttf") format("truetype")
}

.if-generic--alert-action:before,
.if-generic--alert-warning:before,
.if-generic--bewaar--wire:before,
.if-generic--bewaar:before,
.if-generic--button-arrow--medium:before,
.if-generic--checkmark:before,
.if-generic--circle-min:before,
.if-generic--circle-plus:before,
.if-generic--close--arrow-down:before,
.if-generic--close--arrow-up:before,
.if-generic--close-button:before,
.if-generic--dash:before,
.if-generic--mail:before,
.if-generic--facebook:before,
.if-generic--google-plus:before,
.if-generic--google:before,
.if-generic--help-baloon:before,
.if-generic--hexagon--wire:before,
.panel-keuzehulp .panel-title--icon:before,
.if-generic--hexagon:before,
.panel-open .panel-title--icon:before,
.panel-answered .panel-title--icon:before,
.if-generic--inzicht:before,
.if-generic--kartel:before,
.if-generic--keurmerk:before,
.if-generic--link-arrow--semibold:before,
.if-generic--link-arrow-back--semibold:before,
.if-generic--link-arrow-back:before,
.if-generic--link-arrow:before,
.if-generic--linkedin:before,
.if-generic--mail-hexagon:before,
.if-generic--minpunten:before,
.if-generic--minus--semibold:before,
.if-generic--minus:before,
.if-generic--phone-hexagon:before,
.if-generic--phone:before,
.if-generic--plus--semibold:before,
.if-generic--plus:before,
.if-generic--pluspunten:before,
.if-generic--polischeck:before,
.if-generic--print:before,
.if-generic--remove:before,
.if-generic--search:before,
.if-generic--servicecode-eye:before,
.if-generic--skype:before,
.if-generic--star:before,
.if-generic--tumblr:before,
.if-generic--twitter:before,
.if-generic--usp-cheap:before,
.if-generic--usp-contact:before,
.if-generic--usp-fast:before,
.if-generic--usp-opzegservice:before,
.if-generic--vergelijk:before,
.if-generic--vimeo:before,
.if-generic--warning:before,
.if-generic--whatsapp:before,
.if-generic--youtube:before {
    font-family: "generic";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    text-decoration: none;
    text-transform: none
}

.if-generic--alert-action:before {
    content: ""
}

.if-generic--alert-warning:before {
    content: ""
}

.if-generic--bewaar--wire:before {
    content: ""
}

.if-generic--bewaar:before {
    content: ""
}

.if-generic--button-arrow--medium:before {
    content: ""
}

.if-generic--checkmark:before {
    content: ""
}

.if-generic--circle-min:before {
    content: ""
}

.if-generic--circle-plus:before {
    content: ""
}

.if-generic--close--arrow-down:before {
    content: ""
}

.if-generic--close--arrow-up:before {
    content: ""
}

.if-generic--close-button:before {
    content: ""
}

.if-generic--dash:before {
    content: ""
}

.if-generic--mail:before {
    content: ""
}

.if-generic--facebook:before {
    content: ""
}

.if-generic--google-plus:before {
    content: ""
}

.if-generic--google:before {
    content: ""
}

.if-generic--help-baloon:before {
    content: ""
}

.if-generic--hexagon--wire:before,
.panel-keuzehulp .panel-title--icon:before {
    content: ""
}

.if-generic--hexagon:before,
.panel-open .panel-title--icon:before,
.panel-answered .panel-title--icon:before {
    content: ""
}

.if-generic--inzicht:before {
    content: ""
}

.if-generic--kartel:before {
    content: ""
}

.if-generic--keurmerk:before {
    content: ""
}

.if-generic--link-arrow--semibold:before {
    content: ""
}

.if-generic--link-arrow-back--semibold:before {
    content: ""
}

.if-generic--link-arrow-back:before {
    content: ""
}

.if-generic--link-arrow:before {
    content: ""
}

.if-generic--linkedin:before {
    content: ""
}

.if-generic--mail-hexagon:before {
    content: ""
}

.if-generic--mail:before {
    content: ""
}

.if-generic--minpunten:before {
    content: ""
}

.if-generic--minus--semibold:before {
    content: ""
}

.if-generic--minus:before {
    content: ""
}

.if-generic--phone-hexagon:before {
    content: ""
}

.if-generic--phone:before {
    content: ""
}

.if-generic--plus--semibold:before {
    content: ""
}

.if-generic--plus:before {
    content: ""
}

.if-generic--pluspunten:before {
    content: ""
}

.if-generic--polischeck:before {
    content: ""
}

.if-generic--print:before {
    content: ""
}

.if-generic--remove:before {
    content: ""
}

.if-generic--search:before {
    content: ""
}

.if-generic--servicecode-eye:before {
    content: ""
}

.if-generic--skype:before {
    content: ""
}

.if-generic--star:before {
    content: ""
}

.if-generic--tumblr:before {
    content: ""
}

.if-generic--twitter:before {
    content: ""
}

.if-generic--usp-cheap:before {
    content: ""
}

.if-generic--usp-contact:before {
    content: ""
}

.if-generic--usp-fast:before {
    content: ""
}

.if-generic--usp-opzegservice:before {
    content: ""
}

.if-generic--vergelijk:before {
    content: ""
}

.if-generic--vimeo:before {
    content: ""
}

.if-generic--warning:before {
    content: ""
}

.if-generic--whatsapp:before {
    content: ""
}

.if-generic--youtube:before {
    content: ""
}

@font-face {
    font-family: "zorgverzekering";
    src: url("../fonts/zorgverzekering/zorgverzekering.eot");
    src: url("../fonts/zorgverzekering/zorgverzekering.eot?#iefix") format("eot"), url("../fonts/zorgverzekering/zorgverzekering.woff") format("woff"), url("../fonts/zorgverzekering/zorgverzekering.ttf") format("truetype")
}

.if-zorg--rubriek-alternatievegeneeswijzen:before,
.if-zorg--rubriek-anticonceptie:before,
.if-zorg--rubriek-brillenenlenzen:before,
.if-zorg--rubriek-eigenrisico:before,
.if-zorg--rubriek-fysiotherapie:before,
.if-zorg--rubriek-generic:before,
.if-zorg--rubriek-medicijnen:before,
.if-zorg--rubriek-medischehulpbuitenland:before,
.if-zorg--rubriek-ortho:before,
.if-zorg--rubriek-tandarts:before,
.if-zorg--rubriek-ziekenhuizen:before,
.if-zorg--rubriek-zwanger:before {
    font-family: "zorgverzekering";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    text-decoration: none;
    text-transform: none
}

.if-zorg--rubriek-alternatievegeneeswijzen:before {
    content: ""
}

.if-zorg--rubriek-anticonceptie:before {
    content: ""
}

.if-zorg--rubriek-brillenenlenzen:before {
    content: ""
}

.if-zorg--rubriek-eigenrisico:before {
    content: ""
}

.if-zorg--rubriek-fysiotherapie:before {
    content: ""
}

.if-zorg--rubriek-generic:before {
    content: ""
}

.if-zorg--rubriek-medicijnen:before {
    content: ""
}

.if-zorg--rubriek-medischehulpbuitenland:before {
    content: ""
}

.if-zorg--rubriek-ortho:before {
    content: ""
}

.if-zorg--rubriek-tandarts:before {
    content: ""
}

.if-zorg--rubriek-ziekenhuizen:before {
    content: ""
}

.if-zorg--rubriek-zwanger:before {
    content: ""
}

.person-row {
    overflow: hidden
}

.person-row>div {
    display: none
}

.person-row>span {
    margin-top: 15px;
    display: block;
    font-weight: 600;
    overflow: hidden;
    position: relative;
    padding-left: 30px
}

.person-row>span .icon-checkmark {
    margin-bottom: 7px;
    margin-right: 5px;
    position: absolute
}

.person-row>span .icon-checkmark-minus {
    margin-bottom: 3px;
    margin-right: 5px;
    position: absolute
}

@media(min-width:768px) {
    .person-row>div {
        display: block;
        float: left;
        margin-right: 10px;
        margin: 5px 0
    }
    .person-row>div img {
        width: 70%
    }
}

.prijs-overview .media--img {
    width: 30px;
    min-height: 1px;
    margin-right: 15px
}

.prijs-overview .media--img img {
    width: 100%
}

.prijs-overview .prijs-overview--icon {
    position: absolute;
    left: -50px;
    height: 50px;
    top: -5px
}

.prijs-overview-line {
    overflow: hidden;
    margin-bottom: 10px
}

.prijs-overview-line h5 {
    margin: 0
}

.prijs-overview-line--label {
    display: block;
    font-weight: 600;
    position: relative
}

.prijs-overview-line--value {
    display: block
}

.prijs-overview-line--price {
    display: none
}

.prijs-overview-line--price-xs {
    display: block;
    float: right;
    margin-left: 10px;
    font-weight: 600
}

.prijs-overview-header-line {
    line-height: 40px
}

@media(max-width:767px) {
    .prijs-overview-header-line {
        line-height: 20px
    }
    .prijs-overview-line--label {
        display: inline-block
    }
}

@media(min-width:768px) {
    .prijs-overview-group {
        display: table;
        width: 100%;
        margin-bottom: 15px
    }
    .prijs-overview-grouped-expand {
        display: table-row-group
    }
    .prijs-overview-line {
        display: table
    }
    .prijs-overview-group .prijs-overview-line {
        display: table-row
    }
    .prijs-overview-line.line-eigen-risico {
        color: #91c68a
    }
    .prijs-overview-line--label {
        display: table-cell;
        width: 1%;
        white-space: nowrap
    }
    .prijs-overview-line--value {
        display: table-cell;
        padding: 0 15px 10px 15px
    }
    .prijs-overview-line--price-xs {
        display: none
    }
    .prijs-overview-line--price {
        display: table-cell;
        float: none;
        width: 1%;
        text-align: right;
        font-weight: 600
    }
}

@media(max-width:767px) {
    .header-with-puppets img.persoon-icon {
        width: 22px
    }
}

@media(min-width:768px) and (max-width:991px) {
    .header-with-puppets img.persoon-icon {
        width: 45px
    }
}

.snelle-verdieping--samenvatting {
    padding-left: 60px
}

@media(min-width:768px) {
    .snelle-verdieping--samenvatting [class^=if-zorg] {
        position: absolute;
        margin-left: -60px;
        font-size: 40px;
        line-height: 40px;
        color: #815f86
    }
}

.samenvatting--row {
    padding-left: 60px;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 2px solid #efeeea
}

.samenvatting--row .samenvatting--heading {
    margin-top: 10px
}

@media(min-width:768px) {
    .samenvatting--row [class^=if-zorg] {
        position: absolute;
        margin-left: -60px;
        font-size: 40px;
        line-height: 40px;
        color: #815f86
    }
}

@media(max-width:767px) {
    .samenvatting--row {
        padding-left: 0
    }
    .samenvatting--row .samenvatting--heading {
        display: inline;
        margin-top: 0;
        font-size: 1.3em;
        margin-left: 5px
    }
    .samenvatting--row .divider {
        background: transparent;
        margin: 5px 0
    }
}

@media(max-width:767px) {
    .product-overzicht--container .company-logo {
        margin-top: -10px;
        margin-left: 10px
    }
    .product-overzicht--container aside>.sidebar {
        background-color: #815f86;
        margin: 0 -15px;
        padding: 15px
    }
    .product-overzicht--container aside>.sidebar h4,
    .product-overzicht--container aside>.sidebar .next-step-box * {
        color: #fff
    }
    .product-overzicht--container aside>.sidebar .next-step-box {
        margin-bottom: 50px
    }
}

@media(min-width:768px) and (max-width:1199px) {
    .product-overzicht--container aside>.sidebar {
        background-color: #fff;
        margin: 30px -65px -30px -65px;
        padding: 40px 65px
    }
    .product-overzicht--container aside>.sidebar h4 {
        margin-top: 0
    }
    .product-overzicht--container main .white-box {
        padding: 30px
    }
}

@media(min-width:1200px) {
    .product-overzicht--container aside>.sidebar h4,
    .product-overzicht--container aside>.sidebar .next-step-box * {
        color: #fff
    }
    .product-overzicht--container main .white-box {
        padding: 30px
    }
}

@media(min-width:768px) {
    .product-overzicht--container .prijs-overview-line--label {
        width: 270px
    }
}

.price--container {
    text-align: right
}

.price--label {
    display: inline-block;
    font-weight: 600;
    margin-right: 10px;
    vertical-align: top;
    margin-top: 4px
}

@media(min-width:768px) {
    .price--label {
        font-size: 22px;
        margin-right: 20px
    }
}

@media(max-width:1199px) {
    .invoer-quickquote-sidebar {
        background-color: #815f86;
        padding: 15px
    }
    .invoer-quickquote-sidebar h4,
    .invoer-quickquote-sidebar .next-step--text {
        color: #fff
    }
}

.rubrieken-header {
    font-size: 18px;
    color: #815f86;
    font-weight: 600;
    background-color: #fff
}

.rubriek-container:first-child {
    border-top: 1px solid #ecebe6
}

.rubriek-container {
    background-color: #f7f7f4;
    border-bottom: 1px solid #ecebe6
}

.rubrieken-row {
    position: relative;
    margin-left: -15px;
    margin-right: -15px;
    margin-left: 0;
    margin-right: 0
}

.rubrieken-row:before,
.rubrieken-row:after {
    content: " ";
    display: table
}

.rubrieken-row:after {
    clear: both
}

.rubrieken-row--title,
.rubrieken-row--basis,
.rubrieken-row--aanvulling,
.rubrieken-row--help-kiezen {
    padding-left: 15px;
    padding-right: 15px
}

.rubrieken-row--title {
    float: left;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    cursor: pointer
}

.rubrieken-row--title .icon {
    position: absolute;
    top: 18px;
    left: 15px;
    font-size: 25px;
    line-height: 25px;
    line-height: 25px;
    color: #815f86
}

.rubrieken-row--title .text {
    margin-left: 40px
}

.rubrieken-row--basis {
    display: none;
    padding-top: 5px;
    padding-bottom: 20px;
    float: left;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    background-color: #fff
}

.rubrieken-row--basis .text {
    font-size: 14px
}

.rubrieken-row--basis select {
    display: block;
    margin-top: 20px;
    margin-bottom: 15px
}

.rubrieken-row--basis .icon-question-mark {
    float: right;
    margin-left: 10px;
    margin-bottom: 5px;
    margin-top: 2px
}

.rubrieken-row--aanvulling {
    display: none
}

.rubrieken-row--help-kiezen {
    display: none
}

.rubriek-container.is-mobile-expanded .rubrieken-row--title {
    background-color: #fff
}

.rubriek-container.is-mobile-expanded .rubrieken-row--title .text:after {
    display: inline-block;
    background: url("../images/sprite.png") -61px -179px no-repeat;
    width: 10px;
    height: 7px
}

.no-svg .rubriek-container.is-mobile-expanded .rubrieken-row--title .text:after {
    background-image: url("../images/sprite.png")
}

.rubriek-container.is-mobile-expanded .rubrieken-row--basis {
    display: block
}

.rubrieken-row--title-aanvulling {
    font-size: 14px;
    margin-left: 40px;
    margin-top: 4px;
    color: #c0bfb6
}

@media(min-width:768px) {
    .rubriek-container.is-mobile-expanded .rubrieken-row--title {
        background-color: transparent
    }
    .rubriek-container.is-mobile-expanded .rubrieken-row--title .text:after {
        content: none
    }
    .rubrieken-row--title-aanvulling {
        display: none
    }
    .rubriek-container:first-child {
        border-top-width: 0
    }
    .rubriek-container {
        border-bottom-width: 0;
        padding-top: 25px;
        padding-bottom: 25px;
        border-bottom: 2px solid #fff;
        margin-left: 0;
        margin-right: 0
    }
    .rubrieken-row--title {
        cursor: default;
        width: 33.33333%;
        padding-top: 0;
        padding-bottom: 0
    }
    .rubrieken-row--title .icon {
        top: 0;
        left: 15px;
        font-size: 40px;
        line-height: 40px
    }
    .rubrieken-row--title .text {
        margin-left: 70px;
        font-weight: 600;
        font-size: 16px;
        color: #815f86
    }
    .rubrieken-row--title .text:after {
        content: none
    }
    .rubrieken-row--basis {
        display: block;
        width: 66.66667%;
        background-color: transparent;
        padding-top: 0;
        padding-bottom: 0
    }
    .rubrieken-row--basis .text {
        font-size: 16px
    }
    .rubrieken-row--basis .rubrieken-row--action-container {
        margin-top: 30px;
        width: 90%;
        max-width: 370px
    }
    .rubrieken-row--basis select {
        width: 100%
    }
}

@media(min-width:1200px) {
    .rubriek-container {
        padding-top: 40px;
        padding-bottom: 40px
    }
    .rubrieken-row--title {
        width: 25%
    }
    .rubrieken-row--title .icon {
        left: 50px;
        font-size: 40px
    }
    .rubrieken-row--title .text {
        margin-left: 115px
    }
    .rubrieken-row--basis {
        width: 25%
    }
    .rubrieken-row--aanvulling {
        float: left;
        position: relative;
        min-height: 1px;
        padding-left: 15px;
        padding-right: 15px;
        display: block;
        width: 33.33333%;
        background-color: transparent
    }
    .rubrieken-row--aanvulling select {
        width: 100%
    }
    .rubrieken-row--help-kiezen {
        float: left;
        position: relative;
        min-height: 1px;
        padding-left: 15px;
        padding-right: 15px;
        display: block;
        width: 16.66667%;
        background-color: transparent;
        padding-right: 40px!important
    }
    .rubrieken-row--help-kiezen .btn {
        width: 100%
    }
}

.rubrieken-row--advies {
    position: relative;
    margin-left: 115px;
    padding-left: 16%;
    padding-right: 210px;
    margin-top: 25px;
    margin-bottom: -40px;
    min-height: 186px;
    padding-bottom: 50px
}

.rubrieken-row--advies-expert {
    background: transparent url("../images/thema/zorgverzekering/keuzehulp-Dianne-Medium_8bit.png") top right no-repeat;
    background-size: 100%;
    height: 186px;
    width: 145px;
    position: absolute;
    right: 40px;
    bottom: 0
}

.rubrieken-row--advies-expert-title {
    font-size: 14px;
    position: absolute;
    right: 180px;
    bottom: 20px
}

.rubrieken-row--basis .rubrieken-row--advies {
    margin-left: 0;
    padding-left: 0;
    margin-bottom: -20px;
    margin-top: 0;
    padding-right: 105px
}

.ngdialog .rubrieken-row--advies {
    margin-left: 0;
    padding-left: 0;
    border-bottom: 2px solid rgba(0, 0, 0, .07);
    margin-bottom: 15px!important;
    margin-top: 0;
    padding-right: 105px
}

.rubrieken-row--basis .rubrieken-row--advies-expert,
.ngdialog .rubrieken-row--advies-expert {
    right: 0;
    height: 128px;
    width: 100px
}

.rubrieken-row--basis .rubrieken-row--advies-expert-title,
.ngdialog .rubrieken-row--advies-expert-title {
    right: 80px
}

@media(min-width:768px) {
    .rubrieken-row--basis .rubrieken-row--advies,
    .ngdialog .rubrieken-row--advies {
        margin-bottom: -25px;
        padding-right: 180px
    }
    .rubrieken-row--basis .rubrieken-row--advies-expert,
    .ngdialog .rubrieken-row--advies-expert {
        height: 156px;
        width: 122px
    }
    .rubrieken-row--basis .rubrieken-row--advies-expert-title,
    .ngdialog .rubrieken-row--advies-expert-title {
        right: 120px
    }
    .rubriek-container__advies-add,
    .rubriek-container__advies-remove {
        -moz-transition: .3s linear background-color;
        -o-transition: .3s linear background-color;
        -webkit-transition: .3s linear background-color;
        transition: .3s linear background-color
    }
    .rubriek-container__advies {
        background-color: #efeeea
    }
}

.eigen-risico-select-box.do-animate-blink {
    -webkit-animation: greenBlink 5s;
    animation: greenBlink 5s;
    -webkit-animation-delay: .5s;
    animation-delay: .5s
}

.quickquote-header-premie-container {
    height: 30px;
    overflow: hidden;
    margin: -5px 0;
    position: relative;
    font-size: 14px
}

.quickquote-header-premie-item {
    transition: .3s linear top;
    padding: 8px 0;
    position: absolute;
    left: 0;
    top: 0
}

@media(max-width:991px) {
    .quickquote-header-premie-container {
        clear: both
    }
}

@media(min-width:992px) {
    .quickquote-header-premie-container {
        font-size: 18px;
        text-align: right;
        float: right;
        width: 500px
    }
    .quickquote-header-premie-item {
        width: 500px;
        right: 0;
        padding: 5px
    }
}

@media(min-width:1200px) {
    .rubrieken-row {
        margin-left: -15px;
        margin-right: -15px
    }
}

.quickquote-header-premie-item.ng-enter {
    top: 40px
}

.quickquote-header-premie-item.ng-enter-active {
    top: 0
}

.quickquote-header-premie-item.ng-leave {
    top: 0
}

.quickquote-header-premie-item.ng-leave-active {
    top: -40px
}

.quickquote-premie-update {
    display: inline-block;
    padding: 5px;
    margin: -5px 0
}

.quickquote-premie-update.do-animate-blink {
    -webkit-animation: greenBlinkTwice 4s;
    animation: greenBlinkTwice 4s;
    -webkit-animation-delay: 2s;
    animation-delay: 2s
}

@media(max-width:767px) {
    .rubriek-container.do-animate-blink {
        -webkit-animation: greenBlink 6s;
        animation: greenBlink 6s;
        -webkit-animation-delay: .5s;
        animation-delay: .5s
    }
}

@media(min-width:768px) {
    .rubriek-container.do-animate-blink {
        -webkit-transition-duration: 6s;
        transition-duration: 6s;
        -webkit-transition-delay: .5s;
        transition-delay: .5s
    }
    .rubriek-container.do-animate-blink select {
        -webkit-animation: greenBlink 6s;
        animation: greenBlink 6s;
        -webkit-animation-delay: .5s;
        animation-delay: .5s
    }
}

.quickquote-premie-box--header {
    font-size: 16px;
    font-weight: 600
}

@media(min-width:768px) {
    .quickquote-premie-box--header {
        line-height: 1em;
        font-size: 22px;
        font-weight: 600;
        margin-top: 4px
    }
}

.quickquote-header {
    min-height: 47px;
    font-size: 18px;
    padding: 15px;
    color: #fff;
    background-color: #815f86
}

.quickquote-header.show-premie-difference-add {
    -webkit-animation: purpleToGreenBlink 2s;
    animation: purpleToGreenBlink 2s
}

.quickquote-loading {
    display: block;
    width: 22px;
    height: 22px;
    background: transparent url("../images/icons/icon-loading-purple-bg-temp.png") top left no-repeat
}

@media(min-width:768px) {
    .quickquote-loading,
    .quickquote-header--premie {
        float: right
    }
}

.validation-message.validation-message--0results.do-animate-blink {
    -webkit-animation: redBlinkTwice 4s;
    animation: redBlinkTwice 4s;
    -webkit-animation-delay: .2s;
    animation-delay: .2s
}

.ngdialog-side-panel .rubriek-panel-header {
    background-color: #efeeea;
    border-bottom: 1px solid #fff
}

.rubriek-panel-header .icon {
    width: 25px;
    height: 24px
}

.rubriek-panel-content--top {
    background-color: #f7f7f4;
    margin: -15px -15px 15px -15px;
    padding: 15px 40px 15px 15px;
    position: relative
}

.rubriek-panel-content--top .icon-question-mark {
    position: absolute;
    top: 15px;
    right: 15px
}

.mijn-dekkingen--item {
    position: relative;
    clear: both;
    padding-bottom: 15px
}

.mijn-dekkingen--item--title {
    padding-left: 50px;
    font-weight: 600
}

.mijn-dekkingen--item--content {
    padding-left: 50px
}

.mijn-dekkingen--item--icon {
    position: absolute;
    top: 2px;
    left: 4px;
    display: inline-block;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    color: #815f86
}

.mijn-dekkingen--item--icon.icon-tandongevallenverzekering {
    width: 40px;
    height: 40px;
    border: 8px solid #00c1eb;
    background-color: #00c1eb;
    margin: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    left: 0
}

@media(min-width:768px) {
    .mijn-dekkingen__lined-out .mijn-dekkingen--container {
        margin-top: -10px;
        display: table
    }
    .mijn-dekkingen__lined-out .mijn-dekkingen--container .mijn-dekkingen--item {
        display: table-row;
        padding: 0
    }
    .mijn-dekkingen__lined-out .mijn-dekkingen--container .mijn-dekkingen--item--icon {
        display: table-cell;
        position: static;
        background-size: 30px 30px;
        min-width: 30px;
        max-width: 30px;
        background-position: center 10px
    }
    .mijn-dekkingen__lined-out .mijn-dekkingen--container .mijn-dekkingen--item--title {
        display: table-cell;
        padding: 15px;
        white-space: nowrap;
        width: 240px
    }
    .mijn-dekkingen__lined-out .mijn-dekkingen--container .mijn-dekkingen--item--content {
        display: table-cell;
        padding: 15px
    }
}

.mijn-dekkingen--container__balloon:after {
    content: '';
    display: table;
    clear: both;
    width: 100%;
    height: 0
}

.mijn-dekkingen--container__balloon .mijn-dekkingen--container {
    padding-bottom: 0;
    overflow: hidden
}

@media(min-width:992px) {
    .mijn-dekkingen--container__balloon .mijn-dekkingen--container {
        width: 50%;
        padding-right: 30px
    }
    .mijn-dekkingen--container__balloon>.divider {
        width: 50%
    }
}

.mijn-dekkingen--balloon {
    position: relative;
    background: #f7f7f4 url(../images/thema/zorgverzekering/sharon-linkswijzend_8bit.png) 95% 100% no-repeat;
    padding: 20px;
    padding-right: 100px;
    min-height: 180px;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    margin-bottom: 20px
}

.mijn-dekkingen--balloon--score {
    font-size: 22px
}

.mijn-dekkingen--balloon:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute
}

@media(max-width:767px) {
    .mijn-dekkingen--balloon:after {
        border-width: 15px 15px 0 15px;
        border-color: #f7f7f4 transparent transparent transparent;
        bottom: -15px;
        left: 35px
    }
}

@media(max-width:991px) {
    .mijn-dekkingen--balloon {
        background: #f7f7f4 url(../images/thema/zorgverzekering/sharon-linkswijzend_8bit.png) no-repeat scroll 95% 40px
    }
}

@media(min-width:768px) {
    .mijn-dekkingen--balloon:after {
        border-width: 15px 15px 0 15px;
        border-color: #f7f7f4 transparent transparent transparent;
        bottom: -15px;
        left: 100px
    }
}

@media(min-width:992px) {
    .mijn-dekkingen--balloon {
        width: 45%;
        float: right
    }
    .mijn-dekkingen--balloon:after {
        border-width: 20px 20px 20px 0;
        border-color: transparent #f7f7f4 transparent transparent;
        top: 20px;
        left: -20px
    }
}

.diensten--item {
    position: relative;
    clear: both;
    margin-bottom: 15px;
    min-height: 30px
}

.diensten--item--gratis-label {
    float: right;
    font-weight: 600
}

.diensten--item--title {
    padding-left: 45px;
    font-weight: 600;
    max-width: 600px;
    padding-right: 10px;
    width: 83%
}

.diensten--item--content {
    padding-left: 45px;
    max-width: 600px;
    width: 83%
}

.diensten--item--icon {
    position: absolute;
    top: 0;
    left: 0
}

.diensten--item--icon:before {
    width: 30px!important;
    height: 30px!important;
    margin: 0 5px
}

.diensten--item--icon.icon-tandongevallenverzekering {
    width: 40px;
    height: 40px;
    border: 8px solid #00c1eb;
    background-color: #00c1eb;
    margin: 0
}

.diensten--item--icon span {
    width: 30px;
    height: 30px
}

.diensten--item--icon .icon-tandongevallenverzekering,
.diensten--item--icon .icon-letselschade {
    width: 32px;
    height: 32px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box
}

.diensten--item--icon .icon-tandongevallenverzekering {
    background-color: #00c1eb;
    border: 5px solid #00c1eb
}

.diensten--item--icon .icon-letselschade {
    background-color: #815f86;
    border: 5px solid #815f86
}

.keuzehulp-panel-container {
    margin: -15px -15px 30px -15px
}

@media(min-width:768px) {
    .keuzehulp-panel-container {
        margin: -20px -50px 30px -50px
    }
}

.keuzehulp-panel-container .keuzehulp-start-box {
    border-bottom: 3px solid rgba(0, 0, 0, .07)
}

@media(max-width:767px) {
    .keuzehulp-panel-container .keuzehulp-start-box {
        padding-bottom: 73px
    }
}

.keuzehulp-row {
    padding: 0 0 20px 0
}

.keuzehulp-row h3 {
    margin-top: 10px
}

.keuzehulp-row .rubriek-icon {
    display: none
}

@media(min-width:992px) {
    .keuzehulp-row .rubriek-icon {
        display: block;
        text-align: center;
        padding-top: 30px
    }
    .keuzehulp-row .rubriek-icon .icon {
        font-size: 100px;
        line-height: 100px;
        color: #815f86
    }
    .keuzehulp-row .input-field {
        margin-bottom: 20px
    }
    .keuzehulp-row .input-field .btn-group .btn {
        padding-left: 10px;
        padding-right: 10px
    }
}

.keuzehulp-advies-container {
    position: relative
}

.keuzehulp-advies-container .btn-group .btn {
    max-width: 100%;
    margin-top: 30px
}

.keuzehulp-advies-container-small-icon {
    font-size: 25px;
    margin-right: 10px;
    float: left;
    color: #815f86
}

@media(max-width:767px) {
    .keuzehulp-advies-container p {
        font-size: 14px
    }
}

.keuzehulp-advies-container--expert {
    background: transparent url("../images/thema/zorgverzekering/keuzehulp-Dianne-Medium_8bit.png") top right no-repeat;
    height: 120px;
    width: 100%;
    border-bottom: 2px solid rgba(0, 0, 0, .12);
    position: relative
}

.keuzehulp-advies-container--expert-title {
    font-size: 14px;
    position: absolute;
    right: 140px;
    bottom: 20px
}

.keuzehulp-advies-uitleg {
    font-size: 14px;
    margin-top: 15px
}

@media(min-width:768px) {
    .keuzehulp-advies-container {
        padding-right: 0;
        padding-bottom: 90px
    }
    .keuzehulp-advies-container.no-buttons {
        padding-bottom: 145px
    }
    .keuzehulp-advies-container--expert {
        position: absolute;
        bottom: -20px;
        right: 0;
        content: '';
        height: 185px;
        width: 146px;
        margin-top: 0;
        border-bottom-width: 0
    }
}

@media(min-width:1200px) {
    .keuzehulp-advies-container {
        padding-bottom: 75px
    }
}

.keuzehulp-row--col-divider {
    display: none
}

.panel-answered .keuzehulp-row--col-divider {
    display: block;
    height: 2px;
    margin: 20px 0;
    width: 100%;
    float: left;
    position: relative;
    background-color: #efeeea
}

.panel-answered .keuzehulp-row--col-divider:after,
.panel-answered .keuzehulp-row--col-divider:before {
    border: solid #fff;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 255, 255, 0)
}

@media(max-width:991px) {
    .panel-answered .keuzehulp-row--col-divider:after,
    .panel-answered .keuzehulp-row--col-divider:before {
        top: 0;
        left: 50%
    }
    .panel-answered .keuzehulp-row--col-divider:after {
        border-top-color: #fff;
        border-width: 10px;
        margin-left: -10px
    }
    .panel-answered .keuzehulp-row--col-divider:before {
        border-top-color: #efeeea;
        border-width: 13px;
        margin-left: -13px
    }
}

@media(min-width:992px) {
    .keuzehulp-row--advies-eigenrisico {
        min-height: 295px
    }
    .keuzehulp-row--advies-eigenrisico .keuzehulp-row--col-advies {
        position: absolute;
        right: 10px;
        bottom: 20px
    }
    .panel.panel-keuzehulp.panel-answered.panel-open .keuzehulp-row--advies-eigenrisico .keuzehulp-row--col-divider:before {
        top: auto!important;
        bottom: 285px!important
    }
    .panel.panel-keuzehulp.panel-answered.panel-open .keuzehulp-row--advies-eigenrisico .keuzehulp-row--col-divider:after {
        top: auto!important;
        bottom: 288px!important
    }
    .keuzehulp-row--advies-eigenrisico .icon.if-zorg--rubriek-eigenrisico {
        margin-bottom: 140px
    }
}

@media(min-width:992px) {
    .keuzehulp-row--col-advies {
        padding-left: 40px
    }
    .keuzehulp-advies-container-img-reserver {
        min-height: 135px
    }
    .panel-group .panel.panel-keuzehulp.panel-answered .keuzehulp-row--col-divider {
        display: none
    }
    .panel-group .panel.panel-keuzehulp.panel-answered.panel-open .keuzehulp-row--col-divider {
        display: block;
        width: 2px;
        height: auto;
        background-color: #efeeea;
        position: absolute;
        top: -20px;
        bottom: -20px;
        left: 50%;
        float: none
    }
    .panel-group .panel.panel-keuzehulp.panel-answered.panel-open .keuzehulp-row--col-divider:after,
    .panel-group .panel.panel-keuzehulp.panel-answered.panel-open .keuzehulp-row--col-divider:before {
        top: 22px;
        left: 0
    }
    .panel-group .panel.panel-keuzehulp.panel-answered.panel-open .keuzehulp-row--col-divider:after {
        border-left-color: #fff;
        border-width: 20px;
        margin-top: -20px
    }
    .panel-group .panel.panel-keuzehulp.panel-answered.panel-open .keuzehulp-row--col-divider:before {
        border-left-color: #efeeea;
        border-width: 23px;
        margin-top: -23px
    }
}

.panel-group .panel-keuzehulp {
    border-top: 1px solid #efeeea;
    padding: 0 15px;
    background-color: #f7f7f4
}

@media(min-width:768px) {
    .panel-group .panel-keuzehulp {
        padding: 0 50px
    }
}

.panel-group .panel-keuzehulp:first-child {
    border-top-width: 20px;
    border-top-color: #f7f7f4
}

.panel-group .panel-keuzehulp.panel-open:first-child {
    border-top-color: #fff
}

.panel-group .panel-keuzehulp .panel-heading {
    padding: 10px 0;
    min-height: 64px;
    cursor: pointer
}

.panel-group .panel-keuzehulp .panel-body {
    padding: 0 0
}

.panel-group .panel-keuzehulp .panel-title {
    font-size: 16px;
    position: relative;
    padding-left: 45px;
    min-height: 24px
}

.panel-group .panel-keuzehulp .accordion-toggle {
    text-decoration: none;
    color: #4b4b4b
}

.panel-keuzehulp .panel-title--icon {
    font-weight: 600;
    position: absolute;
    left: 0
}

.panel-keuzehulp .panel-title--icon:before {
    margin-right: -19px;
    vertical-align: middle;
    font-size: 2.2em
}

.panel-title--icon .if-generic--checkmark:before {
    font-size: .7em;
    position: relative;
    top: 2px;
    left: -3px
}

.panel-open .panel-title--icon {
    color: #fff!important
}

.panel-open .panel-title--icon:before {
    color: #815f86
}

.panel-answered .panel-title--icon {
    color: #fff!important
}

.panel-answered .panel-title--icon:before {
    color: #91c68a
}

.panel-keuzehulp .panel-heading .panel-title--title {
    margin-top: 10px;
    margin-bottom: 10px
}

.panel-keuzehulp .panel-heading:hover .panel-title--title {
    color: #815f86;
    text-decoration: underline
}

.panel-keuzehulp .panel-heading:hover .panel-title--icon {
    color: #815f86
}

.panel-keuzehulp.panel-open {
    background-color: #fff
}

.panel-keuzehulp.panel-open .panel-heading {
    cursor: default;
    position: relative
}

.panel-keuzehulp.panel-open .panel-heading .panel-title--title {
    color: #4b4b4b;
    margin-top: 10px;
    margin-bottom: 10px
}

.panel-keuzehulp.panel-answered .panel-heading .panel-title--subtitle {
    color: #c0bfb6;
    font-size: 14px
}

@media(min-width:992px) {
    .panel-keuzehulp.panel-answered.panel-open .panel-heading:after {
        content: '';
        position: absolute;
        width: 2px;
        top: 0;
        bottom: 0;
        left: 50%;
        background-color: #efeeea
    }
    .panel-keuzehulp.panel-answered.panel-open:first-child .panel-heading:after {
        top: -20px
    }
}

.specifieke-vergoedingen-box {
    margin: 20px 0;
    border-top: 2px dashed rgba(0, 0, 0, .07);
    border-bottom: 2px dashed rgba(0, 0, 0, .07);
    padding: 15px;
    margin-left: -15px;
    margin-right: -15px
}

.specifieke-vergoedingen-box a {
    width: 100%
}

@media(min-width:768px) {
    .specifieke-vergoedingen-box {
        border: 2px dashed rgba(0, 0, 0, .07);
        padding: 20px;
        margin-left: 0;
        margin-right: 0
    }
}

.specifieke-vergoedingen-box--add--header {
    margin-bottom: 10px
}

@media(min-width:768px) {
    .specifieke-vergoedingen-box--add {
        display: table;
        overflow: hidden;
        width: 100%
    }
    .specifieke-vergoedingen-box--add--header {
        display: table-cell;
        vertical-align: middle;
        font-size: 22px;
        width: 50%;
        margin-top: 8px;
        padding-right: 20px
    }
    .specifieke-vergoedingen-box--add--btn {
        display: table-cell;
        vertical-align: middle;
        text-align: right;
        width: auto
    }
    .specifieke-vergoedingen-box--add--btn a {
        max-width: 280px
    }
}

@media(min-width:992px) {
    .specifieke-vergoedingen-box--add--header {
        width: 66.66667%
    }
    .specifieke-vergoedingen-box--add--btn a {
        max-width: none;
        width: auto
    }
}

@media(max-width:1199px) {
    .has-specifieke-wensen .specifieke-vergoedingen-box--add--header {
        display: none
    }
}

.rubrieken-row.specifieke-vergoeding .rubrieken-row--basis {
    padding-top: 10px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0
}

.rubrieken-row.specifieke-vergoeding .rubrieken-row--title {
    padding-left: 0;
    padding-right: 0
}

.rubrieken-row.specifieke-vergoeding .rubrieken-row--title .text:after {
    display: inline-block;
    background: url("../images/sprite.png") -50px -179px no-repeat;
    width: 10px;
    height: 7px
}

.no-svg .rubrieken-row.specifieke-vergoeding .rubrieken-row--title .text:after {
    background-image: url("../images/sprite.png")
}

.rubrieken-row.specifieke-vergoeding .rubrieken-row--title .icon {
    left: 0
}

.rubrieken-row.specifieke-vergoeding .rubrieken-row--basis select {
    margin-top: 0;
    width: 100%
}

@media(min-width:768px) {
    .rubrieken-row.specifieke-vergoeding {
        margin-left: -20px;
        margin-right: -20px
    }
    .rubrieken-row.specifieke-vergoeding .rubrieken-row--basis {
        padding-left: 15px;
        padding-right: 15px
    }
    .rubrieken-row.specifieke-vergoeding .rubrieken-row--title {
        padding-top: 13px
    }
    .rubrieken-row.specifieke-vergoeding .rubrieken-row--title .text {
        margin-left: 85px
    }
    .rubrieken-row.specifieke-vergoeding .rubrieken-row--title .icon {
        top: 5px;
        left: 15px
    }
    .rubrieken-row.specifieke-vergoeding .rubrieken-row--action-container {
        margin-top: 0
    }
}

@media(min-width:1200px) {
    .rubrieken-row.specifieke-vergoeding .rubrieken-row--title {
        width: 50%
    }
    .rubrieken-row.specifieke-vergoeding .rubrieken-row--title .text {
        margin-left: 115px
    }
    .rubrieken-row.specifieke-vergoeding .rubrieken-row--title .icon {
        left: 28px
    }
    .rubrieken-row.specifieke-vergoeding .rubrieken-row--basis {
        display: none
    }
    .rubrieken-row.specifieke-vergoeding .rubrieken-row--help-kiezen {
        padding-top: 10px
    }
}

@media(max-width:767px) {
    .rubrieken-row.specifieke-vergoeding.is-mobile-expanded .rubrieken-row--title {
        background-color: #fff
    }
    .rubrieken-row.specifieke-vergoeding.is-mobile-expanded .rubrieken-row--title .text:after {
        display: inline-block;
        background: url("../images/sprite.png") -61px -179px no-repeat;
        width: 10px;
        height: 7px
    }
    .no-svg .rubrieken-row.specifieke-vergoeding.is-mobile-expanded .rubrieken-row--title .text:after {
        background-image: url("../images/sprite.png")
    }
    .rubrieken-row.specifieke-vergoeding.is-mobile-expanded .rubrieken-row--basis {
        display: block
    }
}

.specifieke-vergoedingen-panel--item {
    background-color: #f7f7f4;
    padding: 10px 15px 0 35px
}

.zorgverleners-container .btn-huge {
    height: 60px;
    line-height: 60px
}

.healthcare-grid {
    width: 100%;
    border-top: 2px solid #815f86;
    border-bottom: 1px solid rgba(0, 0, 0, .12);
    margin-top: 20px;
    margin-bottom: 40px;
    background-color: #f7f7f4
}

.healthcare-grid--header {
    font-weight: 600;
    overflow: hidden;
    background-color: #efeeea;
    display: none
}

.healthcare-grid--item {
    padding: 15px;
    overflow: hidden;
    border-bottom: 1px solid rgba(0, 0, 0, .12);
    background-color: #f7f7f4
}

.healthcare-grid--item:nth-child(odd) {
    background-color: #fff
}

.healthcare-grid--item-name h5 {
    color: #815f86;
    margin-bottom: 15px
}

.healthcare-grid--item-plaats,
.healthcare-grid--item-type,
.healthcare-grid--item-review,
.healthcare-grid--item-available,
.healthcare-grid--item-afstand {
    overflow: hidden;
    margin: 7px 0
}

.healthcare-grid--item-available .healthcare-grid--item-details-link {
    display: none
}

.healthcare-grid--item-label {
    font-weight: 600;
    float: left;
    width: 60%;
    padding-right: 10px
}

.healthcare-grid--item-value {
    display: block;
    overflow: hidden
}

.healthcare-grid--item-review .healthcare-grid--item-value {
    font-weight: 600
}

@media(min-width:768px) and (max-width:991px) {
    .healthcare-grid--item-details-link {
        display: none
    }
    .healthcare-grid--item-available .healthcare-grid--item-details-link {
        display: block;
        float: right;
        margin-top: 3px
    }
}

@media(min-width:992px) {
    .healthcare-grid--header {
        display: block
    }
    .healthcare-grid--item {
        padding: 0;
        overflow: hidden;
        border-bottom: 1px solid rgba(0, 0, 0, .12)
    }
    .healthcare-grid--item:nth-child(odd) {
        background-color: #f7f7f4
    }
    .healthcare-grid--item:nth-child(even) {
        background-color: #fff
    }
    .healthcare-grid--item-name,
    .healthcare-grid--item-plaats,
    .healthcare-grid--item-type,
    .healthcare-grid--item-review,
    .healthcare-grid--item-available,
    .healthcare-grid--item-afstand {
        float: left;
        padding: 15px;
        margin: 0;
        overflow: visible
    }
    .healthcare-grid--item-name {
        width: 27%
    }
    .healthcare-grid--item-plaats {
        width: 15%
    }
    .healthcare-grid--item-type {
        width: 18%
    }
    .healthcare-grid--item-review {
        width: 20%
    }
    .healthcare-grid--item-available {
        width: 20%
    }
    .healthcare-grid--item-label {
        display: none
    }
    .healthcare-grid--item-details-link {
        display: none
    }
}

.healthcare-grid--container.filter-version {
    border-top: 1px solid rgba(0, 0, 0, .12)
}

.healthcare-grid--container.filter-version .healthcare-grid--item-plaats {
    display: none
}

.healthcare-grid--container.filter-version .healthcare-grid--item-afstand {
    display: none
}

.healthcare-grid--container.filter-version .healthcare-grid--item-plaats-afstand {
    color: #c0bfb6;
    margin-left: 30px
}

@media(min-width:768px) {
    .healthcare-grid--container.filter-version .healthcare-grid--header {
        display: block
    }
    .healthcare-grid--container.filter-version .healthcare-grid--item {
        padding: 0;
        overflow: hidden;
        border-bottom: 1px solid rgba(0, 0, 0, .12)
    }
    .healthcare-grid--container.filter-version .healthcare-grid--item-name,
    .healthcare-grid--container.filter-version .healthcare-grid--item-plaats,
    .healthcare-grid--container.filter-version .healthcare-grid--item-afstand {
        float: left;
        padding: 15px;
        margin: 0;
        overflow: visible
    }
    .healthcare-grid--container.filter-version .healthcare-grid--item:nth-child(odd) {
        background-color: #f7f7f4
    }
    .healthcare-grid--container.filter-version .healthcare-grid--item:nth-child(even) {
        background-color: #fff
    }
    .healthcare-grid--container.filter-version .healthcare-grid--item-name {
        width: 60%
    }
    .healthcare-grid--container.filter-version .healthcare-grid--item-plaats {
        width: 25%;
        display: block
    }
    .healthcare-grid--container.filter-version .healthcare-grid--item-afstand {
        width: 15%;
        display: block
    }
    .healthcare-grid--container.filter-version .healthcare-grid--item-plaats-afstand {
        display: none
    }
}

.healthcare-filter-feedback {
    background-color: #efeeea;
    padding: 15px 40px 15px 15px;
    border-bottom: 1px solid rgba(0, 0, 0, .07);
    position: relative
}

.healthcare-filter-feedback--remove-btn {
    position: absolute;
    top: 15px;
    right: 15px
}

.healthcare-filter-feedback--remove-btn:after {
    content: '';
    cursor: pointer
}

.healthcare-filter-feedback--remove-btn:after {
    display: inline-block;
    background: url("../images/sprite.png") -250px -50px no-repeat;
    width: 20px;
    height: 20px
}

.no-svg .healthcare-filter-feedback--remove-btn:after {
    background-image: url("../images/sprite.png")
}

.sticky-feedback-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 501;
    -webkit-transition: .7s linear opacity;
    -moz-transition: .7s linear opacity;
    -o-transition: .5s linear opacity;
    transition: .7s linear opacity;
    padding: 15px;
    -webkit-box-shadow: 0 5px 0 0 rgba(0, 0, 0, .4);
    -moz-box-shadow: 0 5px 0 0 rgba(0, 0, 0, .4);
    box-shadow: 0 5px 0 0 rgba(0, 0, 0, .4)
}

.sticky-feedback-header h2 {
    font-size: 18px;
    margin-bottom: 0;
    margin-top: 10px
}

.sticky-feedback-header p {
    font-size: 18px
}

@media(min-width:768px) {
    .sticky-feedback-header {
        padding: 30px
    }
    .sticky-feedback-header h2 {
        font-size: 34px;
        margin-bottom: 10px;
        margin-top: 0
    }
}

.sticky-feedback-header.ng-enter,
.sticky-feedback-header.ng-leave.ng-leave-active {
    opacity: 0
}

.sticky-feedback-header.ng-enter.ng-enter-active,
.sticky-feedback-header.ng-leave {
    opacity: 1
}

.alert-item--container {
    position: relative;
    margin-bottom: 15px
}

.alert-item--container:after {
    content: '';
    display: table;
    clear: both;
    width: 100%;
    height: 0
}

.alert-item--container span[class^=icon-alert] {
    float: left
}

.alert-item--container .alert-item--content {
    margin-left: 40px;
    padding-top: 8px
}

.tod-invoer--rubriek-container {
    padding-left: 115px;
    background: #efeeea;
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px
}

.tod-invoer--rubriek-container:after {
    content: '';
    display: table;
    clear: both;
    height: 0;
    width: 100%
}

.tod-invoer--rubriek-container .icon-tandongevallenverzekering {
    width: 60px;
    height: 60px;
    background-color: #00c1eb;
    border: 10px solid #00c1eb;
    background-repeat: no-repeat;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box
}

.tod-invoer--rubriek--block-left,
.tod-invoer--rubriek--block-right {
    float: left;
    padding: 0 20px;
    box-sizing: border-box
}

.tod-invoer--rubriek--block-left {
    padding-left: 0
}

.tod-invoer--rubriek--block-left {
    width: 45%
}

.tod-invoer--rubriek--block-right {
    width: 55%
}

.tod-invoer--rubriek--header {
    font-weight: 600;
    font-size: 16px;
    color: #815f86;
    display: block
}

.tod-invoer--rubriek--icon {
    top: 42px;
    position: absolute;
    left: 20px;
    overflow: hidden;
    min-height: 60px
}

.tod-invoer--rubriek--block-left .tod-invoer--rubriek--block-content {
    padding: 20px 0
}

.tod-invoer--rubriek--block-right .tod-invoer--rubriek--block-content {
    background: #00c1eb;
    color: #fff;
    padding: 40px 30px 40px 60px;
    margin: -20px -20px -20px -40px;
    position: relative
}

.tod-invoer--rubriek--block-right .tod-invoer--rubriek--block-content:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 80px 0 80px 35px;
    border-color: transparent transparent transparent #efeeea;
    position: absolute;
    top: 0;
    left: 0
}

.tod-invoer--rubriek--block-right .tod-invoer--rubriek--header {
    color: #fff
}

@media(max-width:1199px) {
    .tod-invoer--rubriek-container {
        padding-left: 0
    }
    .tod-invoer--rubriek-container .icon-tandongevallenverzekering {
        width: 40px;
        height: 40px;
        left: 0;
        position: absolute
    }
    .tod-invoer--rubriek--icon {
        top: 40px;
        padding-left: 70px;
        min-height: 40px
    }
    .tod-invoer--rubriek--icon .tod-invoer--rubriek--header {
        vertical-align: top;
        display: inline-block
    }
    .tod-invoer--rubriek--block-left,
    .tod-invoer--rubriek--block-right {
        padding: 0 15px;
        width: 66.666%;
        margin-left: 33.333%
    }
    .tod-invoer--rubriek--block-left .tod-invoer--rubriek--block-content {
        margin-right: 20px
    }
    .tod-invoer--rubriek--block-right .tod-invoer--rubriek--block-content {
        padding: 20px;
        margin: 0
    }
    .tod-invoer--rubriek--block-right .tod-invoer--rubriek--block-content:after {
        content: '';
        display: block;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 15px 15px 0 15px;
        border-color: #efeeea transparent transparent transparent;
        position: absolute;
        top: 0;
        left: 20px
    }
}

@media(max-width:767px) {
    .tod-invoer--rubriek--icon {
        left: 7px;
        top: 36px
    }
    .tod-invoer--rubriek--block-left {
        padding: 0;
        margin-left: 0;
        width: auto;
        float: none
    }
    .tod-invoer--rubriek--block-right {
        padding: 15px;
        margin-left: 0;
        width: auto;
        float: none
    }
    .tod-invoer--rubriek--block-left .tod-invoer--rubriek--block-content,
    .tod-invoer--rubriek--block-right .tod-invoer--rubriek--block-content {
        padding: 15px;
        margin: 0 15px 0 40px
    }
    .tod-invoer--rubriek--block-right .tod-invoer--rubriek--block-content:after {
        border-width: 10px 10px 0 10px
    }
}

.tod-vergelijk--container {
    background: #00c1eb;
    color: #fff;
    padding: 10px;
    position: relative;
    font-size: 14px;
    cursor: pointer;
    min-height: 40px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box
}

.tod-vergelijk--container .icon-tandongevallenverzekering {
    position: absolute;
    top: 8px;
    left: 10px
}

.tod-vergelijk--content {
    margin-left: 35px;
    display: inline-block;
    position: relative
}
