html,
body {
    padding: 0;
    margin: 0;
}
html {
    font-size: 10px;
    -webkit-tap-highlight-color: transparent;
    height: 100%
}
body {
    font-family: "ProximaNova", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: #4b4b4b;
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    overflow-y: scroll;
    min-height: 100%;
    font-weight: 300;
}
input,
button,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit
}
a {
    color: #815f86;
    text-decoration: underline;
    cursor: pointer;
    outline: none
}
a:hover {
    text-decoration: none;
    outline: none
}
p {
    margin: 0 0 10px
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

/* ---- fonts ---- */

@font-face {
    font-family: 'ProximaNova';
    font-weight: 300;
    font-style: normal;
    src: url("../fonts/proximanova/proximanova-light.eot");
    src: url("../fonts/proximanova/proximanova-lightweb.woff") format("woff")
}
@font-face {
    font-family: 'ProximaNova';
    font-weight: 300;
    font-style: italic;
    src: url("../fonts/proximanova/proximanova-light-it.eot");
    src: url("../fonts/proximanova/proximanova-lightitweb.woff") format("woff")
}
@font-face {
    font-family: 'ProximaNova';
    font-weight: 600;
    font-style: normal;
    src: url("../fonts/proximanova/proximanova-semibold.eot");
    src: url("../fonts/proximanova/proximanova-semiboldweb.woff") format("woff")
}

/* -- font defaults -- */
h1,h2,h3,h4,h5,.h1,.h2,.h3,.h4,.h5 {
    font-family: "ProximaNova", Helvetica, Arial, sans-serif;
    font-weight: 600;
    color: #815f86;
    margin-top: 20px;
    margin-bottom: 10px;
    line-height: 1.1
}
h1,.h1 {
    font-size: 28px
}
h2,.h2 {
    font-size: 22px
}
h3,.h3 {
    font-size: 20px
}
h4,.h4 {
    font-size: 18px
}
h5,.h5 {
    font-size: 16px;
    margin-bottom: 5px
}
a {
    color: #815f86;
    cursor: pointer;
    outline: medium none;
    text-decoration: underline;
}
h3 > span {
    font-weight: 300;
}

/* -- font classes -- */
.font-weight-light {
    font-weight: 300!important
}
.font-weight-semibold {
    font-weight: 600!important
}
.panel-side-header {
    font-weight: 600!important;
    margin-top: 0;
}

/* ---- button ---- */
button {
    overflow: visible;
}
button, select {
    text-transform: none;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
    cursor: pointer;
}
input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
.btn {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: #efeeea none repeat scroll 0 0;
    border-color: #efeeea #efeeea #c0bfb6;
    border-image: none;
    border-radius: 5px;
    border-style: solid;
    border-width: 0 0 6px;
    color: #2d2600;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    line-height: 20px;
    min-height: 35px;
    min-width: 65px;
    padding: 8px 15px 7px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: lowercase;
    vertical-align: middle;
}
.btn:active, .btn.btn-active, .toggleLabel input.toggle:checked ~ .btn {
    border-bottom-width: 3px;
    margin-bottom: 3px;
    top: 3px;
}
/* -- button styles -- */
.btn-cta {
    background: #ffdd35 none repeat scroll 0 0;
    border-color: #ffdd35 #ffdd35 #a58a03;
    font-weight: 600;
}
.btn-choice, .toggleLabel input.toggle:checked ~ .btn {
    background: #91c68a none repeat scroll 0 0;
    border-color: #91c68a #91c68a #5e9757;
    color: #fff;
}
.btn-wire {
    background-clip: padding-box;
    background-color: transparent;
    border: 2px solid #815f86;
    border-radius: 4px;
    color: #815f86;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    line-height: 20px;
    min-height: 35px;
    min-width: 65px;
    padding: 8px 15px;
    position: relative;
    text-decoration: none;
    transition: background-color 0.2s ease-in-out 0s, color 0.2s ease-in-out 0s;
}

/* file selector */
.inputfile {
    display: none;
}
.inputfile + label {
    cursor: pointer;
}

.inputfile:focus + label,
.inputfile + label:hover {

}

.inputfile + label span {
    margin-top: 1em;
    display: block;
    padding: 1em;
    border: 1px dashed #000;
    width: 400px;
    height: 150px;
}

/* ---- input types ---- */

input, button, select, textarea {
    font-family: "ProximaNova", Helvetica, Arial, sans-serif;
    font-size: inherit;
    line-height: inherit;
    font-weight: 300;
}

.input-item {
    margin-bottom: 35px;
    max-width: 700px;
}
.input-horizontal {
    overflow: auto;
}

.input-horizontal .input-item {
    float: left;
    padding: 0 15px;
    text-align: left;
}
.input-item--question {
    font-weight: 600;
    padding-bottom: 8px;
}
.input-item--answer {
    margin-top: -4px;
}

.input-item--straat, .input-item--woonplaats {
    width: 280px;
}

.input-control, input[type="search"] {
    background-color: #fdfcfb;
    border: 2px solid #cdcccc;
    border-radius: 3px;
    padding: 0 25px 0 11px;
}
.input-control:focus, input[type="search"]:focus {
    border-color: #815F86;
}
input.input-control, input[type="search"] {
    height: 40px;
}

select.input-control {
    background-color: #fdfcfb;
    border: 2px solid #cdcccc;
    border-radius: 3px;
    color: #4b4b4b;
    display: inline-block;
    height: 40px;
    max-width: 100%;
    padding: 0 6px;
    vertical-align: middle;
}



/* -- link arror -- */
/*
<a ue="lees-meer-Tandongevallen-verzekering" ng-click="dienstenController.openPanel(dienst.title)">
    <span class="if-generic--link-arrow"></span>
    Meer informatie
</a>
*/
.if-generic--link-arrow::before {
    content: ">";
}
.if-generic--alert-action::before, .if-generic--alert-warning::before, .if-generic--bewaar--wire::before, .if-generic--bewaar::before, .if-generic--button-arrow--medium::before, .if-generic--checkmark::before, .if-generic--circle-min::before, .if-generic--circle-plus::before, .if-generic--close--arrow-down::before, .if-generic--close--arrow-up::before, .if-generic--close-button::before, .if-generic--dash::before, .if-generic--facebook::before, .if-generic--google-plus::before, .if-generic--google::before, .if-generic--help-baloon::before, .if-generic--hexagon--wire::before, .panel-keuzehulp .panel-title--icon::before, .if-generic--hexagon::before, .panel-open .panel-title--icon::before, .panel-answered .panel-title--icon::before, .if-generic--inzicht::before, .if-generic--kartel::before, .if-generic--keurmerk::before, .if-generic--link-arrow--semibold::before, .if-generic--link-arrow-back--semibold::before, .if-generic--link-arrow-back::before, .if-generic--link-arrow::before, .if-generic--linkedin::before, .if-generic--mail-hexagon::before, .if-generic--minpunten::before, .if-generic--minus--semibold::before, .if-generic--minus::before, .if-generic--phone-hexagon::before, .if-generic--phone::before, .if-generic--plus--semibold::before, .if-generic--plus::before, .if-generic--pluspunten::before, .if-generic--polischeck::before, .if-generic--print::before, .if-generic--remove::before, .if-generic--search::before, .if-generic--servicecode-eye::before, .if-generic--skype::before, .if-generic--star::before, .if-generic--tumblr::before, .if-generic--twitter::before, .if-generic--usp-cheap::before, .if-generic--usp-contact::before, .if-generic--usp-fast::before, .if-generic--usp-opzegservice::before, .if-generic--vergelijk::before, .if-generic--vimeo::before, .if-generic--warning::before, .if-generic--whatsapp::before, .if-generic--youtube::before {
    -moz-osx-font-smoothing: grayscale;
    font-family: "generic";
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    text-decoration: none;
    text-transform: none;
}
.if-generic--link-arrow::before, .link-arrow::before, .arrow-list li::before, .if-generic--link-arrow-back::before, .link-arrow-back::before {
    font-size: 0.7em;
}

/* ---- header ---- */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}
.page-header {
    position: relative;
    z-index: 300;
    line-height: 0;
}
.page-header--top {
    background-color: #815f86;
    color: #fff;
}
.pull-right {
    float: right !important;
}
/* -- logo -- */
.page-header.page-header-minimal .page-header--logo-link {
    border-right-width: 0;
    width: auto;
}
.page-header.page-header-minimal .page-header--logo-container {
    width: auto;
}
.page-header.page-header-minimal .page-header--logo {
    margin-bottom: 10px;
}
.page-header--logo {
    height: 30px;
    margin: 10px 0;
    width: 130px;
}

/* -- pull-right -- */
.page-header--phonenumber {
    display: block;
    float: left;
    line-height: 50px;
    padding: 0 15px;
}
.page-header--top a {
    color: #fff;
    text-decoration: none;
}

/* ---- page header with title ---- */
.flow-page-header {
    background-color: #f7f7f4;
    margin-bottom: 25px;
    padding: 20px 0 15px;
}
.flow-page-header {
    margin-bottom: 40px;
}
.flow-page-header {
    padding: 30px 0 25px;
}
.flow-page-header--terug-link {
    display: inline-block;
    margin-right: 45px;
    vertical-align: middle;
}
.flow-page-header h1 {
    display: inline-block;
    font-weight: 300;
    margin: 0;
    vertical-align: middle;
}

/* ---- content related ---- */
.container {
    box-sizing: content-box;
    margin-left: auto;
    margin-right: auto;
    max-width: 430px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}
.container {
    max-width: 1170px;
}
.l-margin-20-bottom {
    margin-bottom: 20px !important;
}

/* prototype reset */
.container {
    max-width: 1280px;
    padding-left:0;
    padding-right:0;
    position: relative;
}

/* ---- background image ---- */
div.background {
    text-align: center;
}
div.background > img {
    width: 100%;
    position: absolute;
    z-index: 0;
    top: 0;
    display: block;
}
/* met margin-top posities aanpassen waar die komt te staan */
div.background div.content {
    width: 825px;
    position: relative;
    z-index: 1;
    background: #fff;
    padding: 2em;
    margin: 2em auto 0;
    display: inline-block;
    margin-top: 418px;
    padding-top: 0.5em;
}

/* //////////////////// */
/* CHANGES FROM HERE    */
/* //////////////////// */

/* ---- basic css ---- */

p {
    margin:0 0 20px;
}

/* ---- inputs ---- */

.input-group {
    border-bottom: 2px solid #efeeea;
    margin-bottom: 40px;
    margin-top: 0;
    padding-bottom: 5px;
}
.input-item .input-group {
    border-bottom-width: 0;
    border-left: 2px solid #efeeea;
    margin-left: 10px;
    margin-top: 15px;
    padding-bottom: 0;
    padding-left: 30px;
}

.input-horizontal .input-item {
    float:inherit;
    display: inline-block;
}
.input-horizontal {
    text-align: center;
}
.input-item--geboortedatum {
    margin-right:2em;
}
.input-item--geboortedatum input {
    width: 160px;
}
.input-item--pensioenleeftijd input {
    width: 100px;
}
input[type="radio"].toggle {
  display: none;
}
.radiobutton-group .toggleLabel:nth-child(1) :nth-child(2) {
    border-radius: 5px 0 0 5px;
}
.radiobutton-group .toggleLabel:nth-child(2) :nth-child(2) {
    border-radius: 0 5px 5px 0;
}

/* radios */

.input-item {
    margin-bottom: 25px;
    max-width: 700px;
}
.input-item--question {
    font-weight: 600;
    padding-bottom: 8px;
}
.input-item--answer {
    margin-top: 0;
}
.radio-button-list {
    line-height: 24px;
    margin: 0 0 15px;
}
.radio-button-list::before, .radio-button-list::after {
    content: " ";
    display: table;
    clear: both;
}
.radio-button-list label {
    clear: both;
    cursor: pointer;
    display: block;
    float: left;
    margin-bottom: 16px;
    padding-left: 36px;
    position: relative;
}
.radio-button-list label input {
    height: 20px;
    left: 0;
    position: absolute;
    top: -1px;
}
input.input-control[type="radio"], input[type="radio"][type="search"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: #f7f7f4 none repeat scroll 0 0;
    border-radius: 50%;
    border-width: 2px;
    cursor: pointer;
    height: 24px;
    margin-right: 16px;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    width: 24px;
}
input.input-control[type="radio"]:checked::after, input[type="radio"][type="search"]:checked::after {
    background: #91c68a none repeat scroll 0 0;
    border-radius: 7px;
    content: "";
    display: block;
    height: 12px;
    margin: 0 auto;
    position: relative;
    top: 4px;
    width: 12px;
}

/* ---- container bg ---- */

div.background.left {
    text-align: left;
}

div.left div.content,
.side-panel {
    margin-top: 252px;
}
div.left div.content {
    width: 870px;
}
.side-panel {
    margin-right: 4em;
}

/* -- contact block -- */
.side-panel {
    float: right;
    position: relative;
    z-index: 2;
}

.contact-block.graph {
  margin-bottom: 40px;
  padding: 20px;
  border: 1px solid #efeeea;
  background-color: #fff;
  max-width: 292px;
}

.contact-block.graph h3 {
  margin-top: 0;
}

.contact-block.graph img {
  width: 232px;
  margin-bottom: 20px;
  max-height: 235px;
  display: block;
}

/* -- expert blok -- */
.expert-box {
    background-color: #f7f7f4 !important;
    margin-bottom: 25px;
    padding: 15px 15px 30px;
    position: relative;
    border-radius: 4px;
}
.expert-box {
    background-position: 40px 100%;
    background-repeat: no-repeat;
    padding: 25px 30px 40px;
}

.expert-box__zorg {
    background: rgba(0, 0, 0, 0) url("../images/expert/viola.png") no-repeat scroll 0 0;
    background-position: 40px 100%;
}
.expert-box__zorg {
    padding-left: 200px;
    padding-right: 20px;
    padding-bottom: 42px;
}
.expert-box h2, .expert-box h3 {
    margin-top: 0;
}
.expert-box--expert-title {
    bottom: 20px;
    font-size: 14px;
    position: absolute;
    color: #815F86;
}

.expert-box.suzanne {
    background: rgba(0, 0, 0, 0) url("../images/expert/suzanne.png") no-repeat scroll 0 0;
    background-position: 26px 100%;
}

.expert-box__right {
    background: rgba(0, 0, 0, 0) url("../images/expert/viola-right.png") no-repeat scroll 0 0;
    background-position: 95% 100%;
}
.expert-box__right {
    padding-left: 20px;
    padding-right: 200px;
    padding-bottom: 45px;
}

/* divider */
.divider, .row-divider {
    background-color: rgba(0, 0, 0, 0.07);
    height: 2px;
    display: block;
}

/* submit button footer */
.buttons-container {
    margin: -10px 0px 10px;
}
.text-right {
    text-align: right;
}

/* -- tooltip -- */
label.tooltip-group {
}
.tooltip-icon {
    display: inline-block;
    background: #C0BFB6;
    width: 14px;
    height: 14px;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    border-radius: 20px;
    text-align: center;
    line-height: 16px;
    margin-left: 0.7em;
    cursor: pointer;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
label.tooltip-group input[type="checkbox"] {
    display: none;
}
label.tooltip-group > .tooltip {
    display: none;
}
label.tooltip-group input[type="checkbox"]:checked + .tooltip {
    display: block;
    background: #EFEEEA;
    padding: 1em 1em;
    font-weight: 300;
    font-size: 14px;
    border-radius:3px;
    margin:0.5em 0;

}
/* -- explainer -- */
.explainer {
    display: block;
    background: #EFEEEA;
    max-width: 450px;
    border-radius: 4px;
    margin-top: 1em;
    padding: 1em;
    position: relative;
}
.explainer:after {
	bottom: 100%;
	left: 10%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: #EFEEEA;
	border-width: 10px;
	margin-left: -10px;
}
/* -- meer info -- */
.meer-info--uitklap {
    margin: 0 0 1em 0;
}
.meer-info--uitklap > a {
    color: #815F86;
    text-decoration: underline;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.meer-info--uitklap .details-btn:active {
    color: blue;
}
.meer-info--content {
    padding-top: 1em;
}

/* - table - */
.table {
    position: relative;
}
.row {
    width: 100%;
    margin: 0.4em 0;
}
.row.result {
    font-weight: 600;
    border-top: 1px solid #979797;
    margin-top: 1em;
    padding-top: 0.7em;
}
.row.result:after {
    left: 100%;
	bottom: 37.5px;
	border: solid transparent;
	content: "-";
	height: 10px;
	width: 10px;
	position: absolute;
    font-weight: 300;
    color: #979797;
}
.column1,
.column2 {
    display: inline-block;
}
.column1 {
    width: 80%;
}
.column2 {
    width: 19%;
    text-align: right;
}
.row.result .column2 {
    font-size: 24px;
}

/* ---- wachtscherm ---- */

body.wachtscherm {
    background: #815F86;
}
.wachtscherm-content {
    margin: 0 auto;
    max-width: 600px;
    background: #fff;
    padding: 2em;
    margin-top: 5em;
    border-radius: 4px;
    position: fixed;
    margin-left: -300px;
    left: 50%;
}

/* ---- result ---- */

.result-box {
    overflow: auto;
    margin-bottom: 2em;
    padding-top: 40px;
}
.result-box .result {
    width: 32%;
    position: relative;
    border: 4px solid #EFEEEA;
    padding: 1em;
    display: inline-block;
    float: left;
}
.result-box .result h4 {
    display: block;
    font-size: 22px;
    height: 60px;
    text-align: center;
}
.result-box .result p {
    margin-bottom: 3em;
}
.result-box .result .divider {
    margin: 1em 0;
}
.result-box .result:nth-child(2) {
    margin: 0 2%;
}
.result-box .result label {
    cursor: pointer;
    display: block;
}

/* -- result active -- */

.result.active {
    background: #91C68A;
    border-color: #91C68A;
    color: #fff;
}
.result.active h4 {
    color: #fff;
}
.result.active a {
    color: #fff;
}

/* -- result aanbevolen -- */

.result.aanbevolen::after {
    background: #7F5F88 url("../images/independer-logo.png") no-repeat scroll 12px 11px;
    content: "Aanbevolen";
    color: #fff;
    text-align: left;
    font-weight: 600;
    padding: 0.6em 0 0 2.2em;
    display: block;
    height: 40px;
    left: -3px;
    margin: 0 auto;
    position: absolute;
    top: -44px;
    width: 257px;
}

.optional-input {
  display: none;
}

.show {
  display: block;
}
